[2018-05-15 12:54] wbhart opened #33 "Inconsistent parameterisation of types"
Currently the type of a Singular matrix over Q is smatrix{spoly{n_Q}}:

[code]

But the type of a Singular vector over Q is svector{n_Q}:

[code]

On the other hand, the entries in the Singular vector do not actually seem to be polynomials, but something else.

We should make a decision on what Singular.jl will be, just a system for polynomial rings, or will it eventually have other kinds of rings

[2018-05-15 12:59] wbhart opened #34 "Module types"
We currently have just smodule for the old Singular modules. But these are used variously in Singular for both kernel and quotient modules.

We should distinguish these in Singular.jl and also distinguish them from the new subquotient modules that Janko has been implementing.

We need to make a decision on names and discuss which operations should return which kind of module, and generally design

[2018-05-15 13:02] wbhart opened #35 "Ideal vs list of generators"
Currently Singular.jl does not distinguish a mathematical ideal from an ideal with a given basis (list of generators).

A Groebner basis is really the latter, and should probably be a different type in Singular.jl.

But we need to discuss this issue and decide which functions should return and accept which (some functions can of course accept both).

One example that springs to mind is reduction,

[2018-05-15 13:05] wbhart commented on #33
There is also the consideration that to integrate with Nemo, it may be necessary to give the longer parameterisation, so that Nemo can know what the types of the entries of a Singular matrix of vector are, so that the Nemo generic code can work with them.

On the other hand, this heavily depends on whether these types are intended to work with generic code from Nemo, or whether they should be cons

[2018-05-15 13:09] hannes14 commented on #33
The type of a Singular vector (svector) has to include the ring as its components are elements of a Singular polynomial ring (for example must have an monomial ordering). And more: also the monomial ordering is in fact a monomial ordering for monomials of a svector (includes, for example such things like position-over-term etc.).
In Singular spoly and svector are in principle the same (in order to

[2018-05-15 13:18] hannes14 commented on #33
Matrices are different: their entries are always spoly (never svector) and mainly used to convert to/from smodule: I would prefer matrices in Nemo for regular operation on matrices (and have a conversion to/from the Singular types)

[2018-05-15 13:26] wbhart commented on #33
Yeah, Singular.Vector isn't the right name either (I just changed it from svector which is the name of the type of a Singular vector). At this level we shouldn't be doing coercion using the name of the type we want to coerce to, but the name of the parent object we want to coerce to.

The vector type I'm talking about here is supposed to represent an element of a free module over the given polynom

[2018-05-15 13:28] wbhart commented on #33
"Matrices are different: their entries are always spoly".

What mathematically are the entries of an svector? It's a free module over which ring? A polynomial ring? Or can you also have a free module over Q directly, say?

[2018-05-15 13:49] hannes14 commented on #33
An svector is a sum of products of the a coefficient from a coefficient domain (like Z,Q),
power of variables (from a polynomial ring) and a statndard generator of the free module.
Therefore an svector is mathematically an element of the freemodule.
It has no entries, but con be converted to a vector, whose elements are from the polynomial ring
(mathematically by finding the coefficients of standa

[2018-06-07 16:15] wbhart opened #40 "ngens vs nvars"
In AbstractAlgebra/Nemo we use nvars for the number of variables of a multivariate poly. But currently we have ngens in Singular.jl.

[2018-06-08 05:43] fieker commented on #40
On Thu, Jun 07, 2018 at 04:15:30PM +0000, wbhart wrote:

I think all should use ngens: this also covers algebras, groups,
modules.
nvars only applies to poly rings.

At least ngens should be available for all, if you want more specialized
names in other situations as well: fine. ngens covers everything...

Claus

[2018-06-08 11:51] wbhart commented on #40
I think the reason nvars was used in Singular.jl is that it is meaningful to ask how many variables an ideal is in. This is independent of how many generators it has as an ideal.

I lean towards having both nvars and ngens available where it is meaningful. But ngens should only be available when the representation of the object is described in terms of generators. It's obviously meaningless to tal

[2018-06-08 11:56] wbhart opened #41 "MaximalIdeal is not a good name"
Apparently it returns the ideal generated by all monomials of total degree d. This may not be a maximal ideal (it could be (1) for example).

[2018-06-08 13:04] wbhart opened #42 "normalize! may not work consistently with Nemo coefficient rings"
The ideal function normalize! normalizes the polynomials generating an ideal, which means to put their coefficients in "lowest terms". This is done by a call to normalize! for the coefficient ring. However, we currently don't implement this for fraction fields coming from Nemo/AbstractAlgebra.jl. We should overload the normalize function for fraction fields coming from Nemo/AbstractAlgebra.jl.

[2018-06-08 13:05] wbhart opened #43 "Scalar multiplication is missing for ideals"
Seems kind of important.

[2018-06-08 13:10] hannes14 commented on #41
maximalideal(1) returns the ideal generated by all variables of the polynomial ring.
That is the maximal ideal in the local case and one of the maximal ideals otherwise.
maximalideal(n) for n>1 is just a more efficient way to compute the n-th power
of maximaideal(1) (more efficient than maximalideal(1)^n)

[2018-06-08 13:13] hannes14 commented on #43
There is mp_MultP((matrix)I,p,R) for multiplication from the right (I*p) and
pMultMp(p,(matrix)I) for multiplication from the left (p*I) for an ideal I.

[2018-06-08 14:10] wbhart commented on #41
I will leave the documentation of this function to someone who understands it better than I. Therefore I leave the ticket open. It should only be a few days before the first iteration of the documentation is finished, and someone can add this function after that.

[2018-06-08 14:19] fieker commented on #40
On Fri, Jun 08, 2018 at 04:51:56AM -0700, wbhart wrote:

I would differ: the natural question is about the nvars of the ring the
ideal is in, not about the ideal. I think this is mainly convenience. I
guess at this point I'd not do ngens nor nvars for ideals. Thinking
about the number fields: degree for an ideal e.g. is different than the
degree of the ring or field the ideal is in.
Possibly this

[2018-06-08 14:51] fieker commented on #40
On Fri, Jun 08, 2018 at 07:26:35AM -0700, wbhart wrote:

It's a question of style and consistency. If ideals are (primarily)
rings, this holds and nvars is fine. If they are (primarily) elements of
the ideal set, then nvars applies to the ring, not to the ideal.

Practicality vs. correctness... I would never ask for the variables in
the ideal - especially as this will give the number for the ring.

[2018-06-08 15:22] hannes14 commented on #41
I do not insist on this name, but I want to have a function returning the ideal generated by all mononials of degree di in a given polynomial ring. (Maybe that is the correct description)

[2018-06-08 15:27] hannes14 commented on #40
I consider ideals a special case of modules, so ngens (the number of generates currently used)
is applicable also here.
nvars should refer to a polynomial ring.
But how to name the function returning the number of variables occuring in an ideal of a polynomial
ring (for example, to decide if it can be mapped to polynomial ring with less variables)

[2018-06-08 16:30] fieker commented on #40
On Fri, Jun 08, 2018 at 08:27:48AM -0700, Hans Schoenemann wrote:

All ideals need to contain all variables. However, you're asking if the
generators can be mapped to a smaller ring - which is different.
I'd not define nvars for an ideal, nor a polynomial.
For a sequence/set of mpolys I'd envision a function support or
used_variables or similar that actually also returns the variables
actually use

[2018-06-08 16:31] fieker commented on #41
On Fri, Jun 08, 2018 at 08:22:32AM -0700, Hans Schoenemann wrote:

Terrible name:
maximal_monomial_ideal_of_degree(MPolyRing, d::Int)
thanks to tab-completion, the size does not matter...

[2018-06-11 13:19] heiderich opened #45 "build script tries to install NTL in /usr/local/include/NTL"
When executing `Pkg.build("Singular")`, the build script seems to try to install NTL under `/usr/local/include/NTL`, which usually fails when executed as a non-privileged user.

[code]

[2018-06-11 13:29] wbhart commented on #45
That's interesting. We do configure NTL with:

run(`./configure PREFIX=$vdir DEF_PREFIX=$nemovdir .....`)

and certainly neither of those directories is /usr/local/include/NTL. I'm
not sure what is causing this issue.

Perhaps we are issuing the configure command to NTL incorrectly.

[2018-06-11 13:35] sebasguts commented on #45
According to the comments in NTL's `configure` script, this seems the right way to use it. Nevertheless, the `PREFIX` variable is ignored.

[2018-06-11 13:38] wbhart commented on #45
I wonder if it is fixed in a later version of NTL, and if such a version
will work with Singular.

Otherwise, we might need to apply a patch.

I wonder if this could explain some of the difficulties we've had on OSX (I
realise it shouldn't work on Linux either, but maybe we've just been lucky).

[2018-06-11 13:39] sebasguts commented on #45
This does not explain any of the difficulties I had on OS X, sorry. And this problem occurs on a Linux machine.

Singular itself works with newer versions of NTL, but I am not sure if this problem is fixed there.

[2018-06-11 13:41] sebasguts commented on #45
TBH, I encountered this problem before, but was too lazy to dig into it. This is why I put the `sudo` here: https://github.com/oscar-system/OSCARDocker/blob/master/Dockerfile#L67 .

Should I investigate this?

[2018-06-11 13:46] wbhart commented on #45
If you have time, that would be great.

Of course, adding sudo is not a way around it in general. Most users
wouldn't have sudo access to their machines. But it's understandable why
one would do it in a Docker image.

[2018-06-11 13:47] sebasguts commented on #45
It basically solved it back then without much hassle for me, so I was fine with doing it in the image. I will investigate this.

[2018-06-13 12:33] sebasguts commented on #45
So, after investigating this, I found the following explanation:

For correctly executing the configure script of ntl, you need a `libtool` binary in your path. This comes with the Ubuntu/Debian package `libtool-bin`, and not libtool. If you do not have that binary in your path, ntl's configure errors and does not overwrite ntl's already existing makefile.

Then the `build.jl` still executes `make

[2018-06-13 17:27] heiderich commented on #45
Thank you for investigating this @sebasguts. After installing `libtool-bin` I could build this package successfully.

[2018-06-14 13:36] heiderich opened #49 "make the Singular functions diff and jacob be accessible from Julia"
It would be nice if the Singular functions `diff` (see https://www.singular.uni-kl.de/Manual/4-1-1/sing_230.htm) and `jacob` (see https://www.singular.uni-kl.de/Manual/4-1-1/sing_271.htm) would be accessible from Julia through Singular.jl. I would expect them to work analogously to the functions `derivation` and `jacobi` introduced in the following pull request to AbstractAlgebra.jl (though there

[2018-06-18 09:43] heiderich opened #50 "isnegative in src/number/n_Zp.jl calls isless, which is not defined"
It seems that the function `isnegative(::Singular.n_Zp)` in `src/number/n_Zp.jl` calls `isless(::Singular.n_Zp, ::Singular.n_Zp)`, which is not defined.

I noticed this, because the function `show(io::IO, x::MPoly, U::Array{<: AbstractString, 1})` in `src/generic/MPoly.jl` in https://github.com/Nemocas/AbstractAlgebra.jl calls `isnegative`.

[code]

[2018-06-18 09:46] fieker commented on #50
This should not be exposed/exist: Fp cannot be negative (or positive).
I think there is a functions testing if printing involves a leading - is
missing.

Claus
On Mon, Jun 18, 2018 at 02:43:58AM -0700, Florian Heiderich wrote:

[2018-06-18 09:58] sebasguts commented on #50
I think Claus is right. This `isnegative` should not exist at all.

Actually, in AbstractAlgebra it is defined to be `false` for `gfelem`s, which is still not ideal. If any, we should have a function which is called `hasminusinfront`.

[2018-06-18 13:02] wbhart commented on #50
Yes, this function should certainly be renamed throughout the whole of
Oscar. And it should be defined for n_Zp's.

Thanks very much for the report. It is certainly a bug.

[2018-07-19 09:59] heiderich opened #56 "Make functions that operate on ideals available for ideals consisting of AbstractAlgebra polynomials"
Singular.jl makes many Singular functions operating on ideals available to Julia. In pull request #52 I provided a function to convert AbstractAlgebra polynomials to Singular polynomials and pull request #54 (not yet merged) provides the converse.

I think the following could be a typical use case:

_Given one (or more) ideal(s) generated by AbstractAlgebra polynomials, one may want to

1. convert

[2018-07-19 12:12] wbhart commented on #56
We certainly have a vision to handle this sort of thing in Oscar. However,
there is nothing special about ideals of polynomials. Oscar.jl will have
some pretty generic functionality for ideals that builds on
AbstractAlgebra.jl and Singular.jl.

But the proper place for this is Oscar.jl, as it isn't adding functionality
for Singular.jl objects and couldn't be done in AbstractAlgebra.jl due to
the d

[2018-07-19 12:18] wbhart commented on #56
Maybe we could somehow arrange for you to visit Kaiserslautern some time to
discuss what you need, to help formulate plans for how to handle all this,
and to discuss how to go about implementing them. This is the sort of
functionality which doesn't easily grow organically. It needs some prior
planning, and for us to have some more in depth discussions, which aren't
easy to have in random GitHub is

[2018-07-31 13:29] heiderich opened #57 "Flint integers bug?"
Is this a bug?

[code]

[2018-07-31 15:20] wbhart commented on #57
Yes, this looks like a bug. It looks like something got cleaned up that
shouldn't have.

[2018-07-31 15:38] hannes14 commented on #57
Singular.n_unknown currently only supports fields - this maybe part of the problem

[2018-07-31 17:49] wbhart commented on #57
It might be a bug in this code:

[code]

Andreas fixed a similar bug elsewhere. The code was not doing what Singular
expects wrt s and t.

[2018-10-19 14:40] ThomasBreuer opened #59 "missing Singular kernel functions"
I have tried to reimplement some of the functionality of Singular's `finvar.lib`,
using GAP and its package `GAPJulia` for calling `Singular.jl`,
but some of the Singular kernel features seem to be missing.

- Maps are used for the substitutions of indeterminates by linear combinations thereof
  (e.g., in the function `evaluate_reynolds` in `finvar.lib`).
- In order to compute a basis of a vector

[2018-10-19 14:59] wbhart commented on #59
Singular.jl is currently being rewritten (see the cxx_wrap branch).

After we have it working again, we will switch over the code to run on Julia-1.0.

After that, we will start to fill out the kernel interface. We have a HiWi doing the above, so it could be some months before we get there.

[2018-10-20 14:19] sebasguts commented on #59
@wbhart Can you give a more precise (i.e., calendar week number) estimate on which date we will be able to use Singular.jl again? The new GAP interface *only* works with a Julia that contains @rbehrends patch, so it is unusable with Singular.jl, potentially until some time next year?

[2018-10-20 15:42] wbhart commented on #59
We will have someone work on it for ostensibly 3 months starting this coming Thursday. I will possibly find some time to put into it, but I can't guarantee that.

[2018-10-25 11:17] wbhart commented on #59
Sorry for the delay in updating everyone. This was quite difficult to sort out since it implied finding someone (else) to work on it.

We have agreed to get n_Z, spoly and sideal working with CxxWrap and Julia-1.0, up to an including std, by the time of our meeting in November. Barring any unforeseen obstacles, this should be possible given the manpower we currently have.

Sachin Mohan will be wor

[2018-10-26 15:38] steenpass opened #60 "update to Julia 1.0"
We are currently updating Singular.jl to make it ready for use with Julia 1.0.
The development is being done in the branch 'update-1.0' in my repository, on top of the current rewrite for CxxWrap, see:
https://github.com/steenpass/Singular.jl/tree/update-1.0
We will announce the progress we are making as comments to this issue.

[2018-10-26 18:48] wbhart commented on #59
We've opened issue #60 for the update to Julia-1.0, which is a prerequisite to resolve this issue. Our meeting today went well, and I this is all underway now. Updates will continue at issue #60, until we are ready to get back to this issue.

[2018-10-26 18:52] wbhart commented on #60
Here are the notes from today's meeting, to outline the steps:

-1) make an update-1.0 branch based on my cxx_wrap

0) Open a ticket on Oscar Singular.jl (mention where development is happening)

1) Put Julia 0.7 on your machine
2) using Pkg
3) ] dev https://github.com/wbhart/Singular.jl    (press backspace to get out of Pkg mode)
4) cd ~/.julia/dev/Singular
5) git checkout update-1.0
6) edit .git

[2018-10-29 23:38] wbhart commented on #60
Guys, I forgot to add something very important at our meeting the other day:

I promised the people in Aachen that we would focus on getting n_Q, spoly and sideal, up to and including std, working first. Can you please make these three the absolute priority, as they will be needed before anything else.

[2018-10-30 11:21] steenpass commented on #60
Sure. The current status is that everything from -1 to 8 (including) is done. Precompilation is also already working.

[2018-10-30 12:12] sebasguts commented on #60
@steenpass does this mean you commented out everything? What exactly is working then?

[2018-10-30 12:19] steenpass commented on #60
No, I didn't have to comment anything out to make `build Singular` and `using Singular` work. I still get a lot of warnings when running `using Singular` for the first time, though. Not quite sure what is actually working.

[2018-10-30 14:00] steenpass commented on #60
9. is solved. 👍

[2018-11-06 16:38] steenpass commented on #60
The current status is that `build Singular` and `using Singular` work in Julia 1.0. All tests pass, but at the end of the test suite, a segfault occurs somewhere below `jl_gc_run_all_finalizers`.

[2018-11-06 16:41] steenpass opened #61 "things to re-enable once n_unknown is working again"
Please feel free to extend or modify the following list:
- [ ] uncomment test_convert_between_MPoly_and_SingularPoly()

[2018-11-08 13:31] fingolfin commented on #60
@wbhart just pointed out to me that work on this was being done -- I only looked for commits on this repo, though, thus I never saw this issue. Anyway, now read through it, and it seems you folks are making great progress. Thank you very much for your efforts on this!

[2018-11-09 13:08] wbhart commented on #60
@fingolfin I think this sort of thing is unavoidable. Whilst we could have made commits in a branch of this repo, which might have made more sense, it isn't really good practice to push commits to the official repo. And making PR's to a branch of the official repo is just going to slow the work down. So I think the practice of doing such work in one's own repo, then making a PR when it is ready, i

[2018-11-09 13:11] wbhart commented on #60
@fingolfin Probably a better strategy would have been to post updates to oscar-dev, or at least one post pointing to this ticket.

On the other hand, too much communication is not helpful either. I am currently getting hundreds of emails for discussions on tickets on the Gap work you and Sebastian and Thomas are doing. I don't have time to read all that, so I'm thinking of unsubscribing from updat

[2018-11-09 14:46] fingolfin commented on #60
Let me clarify: none of my remarks above were a complaint. To the contrary, I felt need to justify why I hadn't noticed your work (which resulted in me writing in the GAP status report that we are waiting for it, but w/o a pointer to this work).

As to which workflow you use, again, no need to justify that to me either, there are many, many ways to do these things, and what is best depends on the

[2018-11-09 18:23] wbhart commented on #60
It should be possible to subscribe to the main repository. The traffic shouldn't be high. Of course, if you aren't working on Singular.jl, then no need. We will @fingolfin you.

[2018-11-12 11:30] steenpass commented on #60
This issue should be fixed with #62.

[2018-11-12 11:30] #60 closed

[2018-11-14 14:01] fingolfin commented on #45
This issue was fixed in NTL 10.1.0, released 2016-10-14 -- perhaps you could switch from NTL 9.3.0 to that, or an even newer version of NTL?

[2018-11-15 13:22] #45 closed

[2019-01-31 09:55] heiderich opened #80 "convert / coerce n_Z into AbstractAlgebra.ZZ and/or Nemo.ZZ"
`AbstractAlgebra.ZZ(Singular.ZZ(1))
`
fails with
`ERROR: MethodError: no method matching (::AbstractAlgebra.Integers{BigInt})(::n_Z)`

Neither do `convert(Int, Singular.ZZ(1))` and `convert(BigInt, Singular.ZZ(1))` work.

Similarly
`Nemo.ZZ(Singular.ZZ(1))`
fails with
`ERROR: MethodError: no method matching (::FlintIntegerRing)(::n_Z)`

I think such coercions / conversions would be a helpful featu

[2019-01-31 10:04] heiderich opened #81 "no method (::Rationals)(::Int64, ::Int64)"
The documentation contains the example

[code]

However there seems to be no suitable constructor:

[code]

[2019-01-31 10:35] wbhart commented on #81
Works for me.

The definition is in src/julia/Rational.jl

[code]

[2019-01-31 10:38] wbhart commented on #80
I agree that both

[code]

and

[code]

would be useful. I don't know if it is supported by the Singular library itself or not. But if not, we could get Hans to implement something, perhaps.

[2019-01-31 10:46] sebasguts commented on #80
@wbhart The coeff rings have functions to convert to Int and MPZ, respectively.
You might want to look for `cfInt` and `cfMPZ`.

[2019-01-31 10:49] heiderich commented on #81
You refer to `src/julia/Rational.jl`? Just "using Singular" this does not work for me.

[2019-01-31 11:08] wbhart commented on #81
Which documentation are you referring to?

[2019-01-31 11:10] wbhart commented on #81
Oh gosh. I didn't even remember we had written any docs for Singular.jl.

So yeah, that's a bug.

[2019-01-31 11:11] wbhart commented on #80
Thanks @sebasguts

[2019-01-31 13:26] heiderich opened #82 "conversion of smatrix{spoly{T}} to AbstractAlgebra.Generic.Mat{spoly{T}}"
I would consider a conversion function such as in the title of this issue for meaningful types T (such as n_Z or n_Q) helpful.

[2019-01-31 13:37] wbhart commented on #82
We need very many conversion functions. They will all need to be implemented for Oscar.jl. But first I'm trying to get Singular.jl to work at all and to get the basic interface in line with AbstractAlgebra.

[2019-01-31 13:50] heiderich commented on #81
See #83.

[2019-01-31 17:50] #81 closed

[2019-02-01 12:53] heiderich opened #84 "convert / coerce AbstractAlgebra.QQ into Singular.QQ"
I think it would be useful to convert / coerce `AbstractAlgebra.QQ` rational numbers into `Singular.QQ`. This is currently not possible:

[code]

[2019-02-01 13:13] heiderich commented on #84
With #85 the following variant will be possible:

Singular.QQ(one(AbstractAlgebra.qq))

[2019-02-01 13:31] heiderich opened #86 "coercion of Nemo.QQ into Singular.QQ"
It would be helpful to be able to coerce rationals from Nemo.QQ into Singular.QQ as follows:

`Singular.QQ(Nemo.QQ(1//2))`

[2019-02-01 13:58] heiderich commented on #84
With #87 the following is possible:

`Singular.QQ(one(AbstractAlgebra.QQ))`

[2019-02-04 13:36] wbhart commented on #86
Agreed, but this is a low level issue. I will ask Hans if there is such a conversion implemented in Singular already.

[2019-02-05 14:04] hannes14 commented on #86
There is a routine to construct n_Q from gmp-integers (mpz_t): n_InitMPZ, but (currently) none
for mpq_t or pairs of mpz_t

[2019-02-05 14:07] wbhart commented on #86
Thanks Hans.

[2019-02-05 14:10] wbhart commented on #86
@heiderich It seems there isn't a way to do this efficiently at a low level, even in Singular. I would recommend converting first to Julia BigInts and then from there to Singular rationals. That's not efficient, but that is all that is implemented at present.

Obviously this will eventually improve as we work on the low level interfacing to make it more efficient.

[2019-02-05 21:46] heiderich commented on #86
@wbhart Maybe one could use #87 in case it gets merged? Then one would only need to convert from `Nemo.QQ` into `Rational{BigInt}` first, as in the following example

`Singular.QQ(convert(Rational{BigInt}, one(Nemo.QQ)))`

[2019-02-06 16:47] wbhart opened #90 "divrem, div and divides missing for spoly"
I can't see an implementation of these in Singular, (for polynomials over a Euclidean ring, where divrem makes sense in the coefficient ring), though I might have overlooked something. @hannes14

Certainly divides should exist when working over a Euclidean ring. I can of course push divrem to the "optional" interface if it is not considered important.

[2019-02-06 16:53] wbhart commented on #90
Also check that remove and valuation work once these are defined. Otherwise AbstractAlgebra may need some work to make the generic functions there apply to Singular polys.

[2019-02-06 16:55] wbhart opened #91 "adhoc divexact missing for spoly"
There are three cases:
* division by an integer
* division by a rational (where appropriate)
* division by an element of the coefficient ring

[2019-02-06 16:57] wbhart opened #92 "evaluation missing for spoly"
Singular has a pSubst function, but I'm not sure what it's interface is. @hannes14

[2019-02-07 06:47] fieker commented on #90
On Wed, Feb 06, 2019 at 08:47:27AM -0800, wbhart wrote:

What is this functino supposed to be doing? divrem is, I thought, a
euclidean operation thus should be supported for univariate over a
field.
Possible one can extend this to univ over a ring when the divisor is
monic (invertable lead) or the leading coeff divides enough coeffs.
What would be the mathematical definition of divrem for spoly?

[2019-02-07 09:12] wbhart commented on #90
If you want students to be able to implement Buchberger they will need more than divrem for univariates over a field.

https://en.wikipedia.org/wiki/Gr%C3%B6bner_basis#Reduction

[2019-02-07 09:28] fieker commented on #90
On Thu, Feb 07, 2019 at 01:12:48AM -0800, wbhart wrote:

Yep, but this not called divrem, divrem is euclidean (in my mind)

they call it red....
You can have a divrem(f, Array{...}) but the result is only well defined
if the Array is a Groebner basis and you want full reduction.
Given that the Buchberger's only want exactly what is in the wiki, this
is what I'd provide - under that name.

My opini

[2019-02-07 09:35] wbhart commented on #90
As the wikipedia article says, the reduction algorithm is exactly ordinary Euclidean division with remainder in the univariate case. For that reason it is also called the multivariate division algorithm.

Remember that the multivariate module is also used to implement sparse univariates, for which you certainly want the function to be called divrem so that the generic code works.

[2019-02-07 09:42] wbhart commented on #90
As for ideal division, which I didn't mention, it is perfectly well defined, but depends on the ordering of the polynomial ring and the order of the basis vectors (unless it is a GB).

As for divisibility testing, this doesn't make sense over arbitrary rings. I'm not entirely sure what the most general ring would be. I can see it makes sense for gcd domains, though you then need to be able to dist

[2019-02-07 09:51] fieker commented on #90
On Thu, Feb 07, 2019 at 01:35:25AM -0800, wbhart wrote:

It's not the same for univariate: the red algorithm does only ONE step.
It is not even specified which coeff to reduce:

red(x^3+x^2+x+1, x+1) can return a remainder of
  x^3+x^2 (subtracting x+1)
  x^3 + 1 (subtracting x(x+1))
  x+1     (subtracting x^2(x+1))
at least accoring to the wiki page.

The euclidean division would need to iterate

[2019-02-07 09:54] fieker commented on #90
On Thu, Feb 07, 2019 at 01:42:04AM -0800, wbhart wrote:

and more specs: do you always start reducing the lead term? This is not
part of the wiki!

There is a conflict between math and programming: for any ring
divisibility testing makes sense.
We cannot perform this for all rings, but the question makes sense.
Thats why this is part of the interface for all rings - and sometimes
returns errors
 -

[2019-02-07 10:07] wbhart commented on #90
The Singular reduce command has options to consider only the leading monomial or to do tail reduction. Anything that doesn't generalise Euclidean division in the univariate case obviously shouldn't be called that. But it is a perfectly well-defined operation and already implemented in AbstractAlgebra and Flint, (and in theory via reduce in Singular). It needs to exist so that division of multivari

[2019-02-07 10:13] fieker commented on #90
On Thu, Feb 07, 2019 at 02:07:11AM -0800, wbhart wrote:

What is the definition? The Wiki page deliberately never claims that.
In the end, be my guest. The function needs to be there as the
functionality is needed. However, as this is not euclidean, what will
actually happen if you try to call an HNF over this ring? Since the euc
interface is implemented this should work? I guess this goes into th

[2019-02-07 10:21] wbhart commented on #90
Firstly, I was only referring to divrem(f, g) where f ang g are polynomials. If you think of this as reduction by an ideal generated by g, then that ideal is already Groebner basis (let's stick to polys over a field for now). Therefore, the result is even well-defined.

The wiki article carefully distinguished "one-step reduction" from reduction, and says that in the case of reduction by a single

[2019-02-07 10:31] wbhart commented on #90
Even so, because an ideal generated by a single poly is already a GB, the result should be unique regardless of the order you do the reduction, in that specific case. It's just that some algorithms (such as reducing monomials according to the monomial ordering) are easier to reason about, and probably more efficient in practice.

[2019-02-07 10:57] wbhart commented on #90
Ok, I see what you are getting at. My comment that you would need divrem for Buchberger is not correct. Buchberger is much better if you use lead reduction rather than complete reduction. And in AbstractAlgebra, we implement complete reduction, which is really only useful after you have computed a Groebner basis. (I suppose we could add an option to compute lead reduction, though the data format u

[2019-02-07 11:19] hannes14 commented on #91
- Division by an integer: number n=n_Init(i,r->cf);result=p_Div_nn(p_Copy(p,r),n,r);n_Delete(&n,r->cf);
- Division by n (of the coefficient ring): result=p_Div_nn(p_Copy(p,r),n,r);

[2019-02-07 12:27] wbhart commented on #91
Thanks Hans!

[2019-02-07 13:01] hannes14 commented on #90
For division and remainder combined:
Singular provides R=idLift(A,B,&R,FALSE,TRUE,TRUE,&U) such that U[1,1]*R[1]=A[1]/B[1]+R[1].
(in the case for polynomials: U is a 1x1-matrix, R,A,B sideal from one polynomial)
For a single division: p_Divide

[2019-02-07 14:39] wbhart commented on #91
Implemented in update_spoly branch.

[2019-02-07 14:39] #91 closed

[2019-02-15 12:46] wbhart commented on #90
Fixed in update_spoly branch.

[2019-02-15 12:46] #90 closed

[2019-02-15 12:47] wbhart commented on #92
Fixed in update_spoly branch.

[2019-02-15 12:47] #92 closed

[2019-02-15 12:47] wbhart commented on #84
Merged.

[2019-02-15 12:47] #84 closed

[2019-02-15 12:50] wbhart commented on #49
Merged. Please reopen if this doesn't satisfy the requirements.

[2019-02-15 12:50] #49 closed

[2019-02-15 12:50] wbhart commented on #40
Fixed in master.

[2019-02-15 12:50] #40 closed

[2019-02-15 12:51] wbhart commented on #35
I agree.

[2019-02-15 12:51] #35 closed

[2019-02-20 15:29] heiderich opened #95 "monomials and terms throw ERROR: UndefVarError: p_Head not defined"
According to the announcement
https://mail.mathematik.uni-kl.de/pipermail/oscar-dev/2019-February/000002.html
Singular.jl implements the interface described at
https://nemocas.github.io/AbstractAlgebra.jl/latest/mpolynomial_rings/
and all the functions described at
https://nemocas.github.io/AbstractAlgebra.jl/latest/mpolynomial/
are available for Singular polynomials.

However
[code]
throws

`ERRO

[2019-02-20 16:33] wbhart commented on #95
It works fine for me. My guess is either your Singular needs updating or your AbstractAlgebra.

[2019-02-20 20:57] heiderich commented on #95
I was working with Singular.jl 5ac4100ea308f42066fa89d82e09b61ddc9d055e and https://github.com/Nemocas/AbstractAlgebra.jl/commit/f9e80ed84e6b0c1198135627a1b3bcb4eacadcb3. It turned out that for some reason parts of an old build were used. After removing Singular.jl completely and reinstalling it, it is working now. Please excuse the noise.

[2019-02-20 20:57] #95 closed

[2019-04-10 13:36] thofma opened #97 "Corrupted memory"
Am I using it in the wrong way? Can't seem to do trivial operations without corrupting the memory.
[code]

[2019-04-10 14:37] wbhart commented on #97
You are probably using it correctly. It's still broken, apparently. We'll get there eventually.

[2019-04-10 17:24] thofma opened #100 "coeffs and exponent_vectors wrong"
They are wrong for constant polynomials:
[code]

[2019-04-10 19:07] #97 closed

[2019-04-10 20:12] thofma commented on #100
Sorry, my bad.

[2019-04-10 20:12] #100 closed

[2019-04-17 18:56] ahumenberger opened #101 "Radical of an ideal"
Is there already a way to compute the radical of an ideal?
I didn't find anything. I also had a look in the Singular source, and the only thing I found was the following file where algorithms for computing the radical are implemented:
https://github.com/Singular/Sources/blob/6391ebdfc684a1e7384c830df2b18aae61eedccc/Singular/LIB/primdec.lib
However, that's not a C/C++ file which can be easily calle

[2019-04-18 09:43] wbhart commented on #101
No, unfortunately that's not in the kernel. Does @hannes14 know of anything in the kernel?

I guess we need to get libraries working soon!

[2019-05-07 16:13] steenpass opened #102 "tests fail with CxxWrap v0.8.2"
[code]

[2019-06-25 10:20] steenpass opened #114 "minres() does not work as expected"
After applying `minres()`, Singular.jl still prints the old, non-minimal resolution:
[code]
However, `betti()` gives the correct (that is, minimal) result:
[code]
Internally this is due to the fact that `libSingular.syMinimize(ptr, ...)` sets `ptr->minres` and returns `ptr`.

[2019-06-25 10:22] wbhart commented on #114
There's a very large patch being worked on by Sebastian that overhauls the resolutions, I believe.

[2019-06-26 08:33] heiderich opened #116 "Equality of ideals"
Is the following intended?

[code]

[2019-06-26 10:10] wbhart commented on #116
For the time being, yes. Testing equality of ideals is incredibly slow, so
you have to use isequal or equal, for which you have to look at the
documentation. It's to prevent people from accidentally checking equality
under the false impression that it is a cheap operation.

On Wed, 26 Jun 2019 at 10:33, Florian Heiderich <notifications@github.com>
wrote:

[2019-06-26 10:57] fieker commented on #116
On Wed, Jun 26, 2019 at 03:10:52AM -0700, wbhart wrote:

This is a Singular problem. For Oscar we clearly agreed in == for ideals
to do the mathematical thing.
Even in Singular, it should at least compare the generators.

[2019-06-26 11:49] heiderich commented on #80
With pull request #117

`convert(BigInt, Singular.ZZ(1))`

is possible.

`convert(Int, Singular.ZZ(1))`

would work, but in general I fear that there is no lossless conversion from `n_Z` to `Int`.

[2019-06-26 11:58] hannes14 commented on #116
No, Singular decided not to try this:
- I==J results in an error
- matrix(I)==matrix(J) compares the generators
- isEqualIdeal(I,J) compares the ideals (mathematically)

[2019-06-26 12:01] fieker commented on #116
On Wed, Jun 26, 2019 at 04:58:36AM -0700, Hans Schoenemann wrote:

Then this is missing in Singular.jl

[2019-06-26 12:34] wbhart commented on #116
Nothing is missing. It was a deliberate decision to not define == for the reasons I stated.

@hannes14 is talking about Singular, not Singular.jl, I think.

Oscar can define equality however it likes, and it merely has to call the appropriate function here, though I would like to point out that these are Singular ideals, which Oscar doesn't want.

[2019-06-26 12:35] fieker commented on #116
On Wed, Jun 26, 2019 at 05:34:07AM -0700, wbhart wrote:

The problem is not that you (we) did not define ==, but that it is
automatically defined and results in garbage...

No-one is ever going to read the doc for == until (s)he spend a long
time hunting down a strange bug.

[2019-06-26 12:44] wbhart commented on #116
I agree with that. I'm happy to have it print an error message instead.

My understanding is that the expert commutative algebra people tell me that mathematical equality of ideals is not the thing you usually want. Rather, comparison of generators is used more frequently.

To avoid confusion, we decided to not define == at all. But you are right. It should instead return a helpful error message,

[2019-06-26 12:50] wbhart commented on #80
It's fine to define a convert function for that, e.g. in Julia itself:

[code]

We should simply do the same thing they do.

[2019-06-27 02:08] wbhart commented on #116
I checked and Oscar.jl can override the definition of == provided by Singular.jl, so long as Oscar.jl does "import Singular" instead of "using Singular", even if it imports == from Base.

So this is good news. It means Oscar is fully customizable to our requirements without affecting the underlying packages.

I suggest we use metaprogramming to import the symbols we need from our various packages.

[2019-06-27 07:46] fieker commented on #116
On Wed, Jun 26, 2019 at 07:08:32PM -0700, wbhart wrote:

Good. I still think Singular.jl is stupid there, but that's their
decision.

Check the Hecke.jl, Nemo.jl there we already do this...

[2019-06-27 14:39] heiderich opened #120 "unique polynomials"
Is the following expected?

[code]

[2019-06-27 14:44] wbhart commented on #120
Not really. But it is probably due to a missing hash function or something like that.

[2019-06-27 15:30] sebasguts commented on #120
Yep, it is indeed because of the missing hash function. You can do this by overloading `Base.hash`, making it always return `0` for Singular polynomials.

[2019-06-27 15:35] wbhart commented on #120
Better still would be to provide a working hash!

[2019-06-27 15:42] sebasguts commented on #120
Absolutely, yes. But as long as we do not have one, a hash that is not compatible with `==` is worse than no hash.

[2019-06-27 20:53] kalmarek commented on #120
@wbhart I'd like to point out that hash is required in the ring interface;
and Singular polys are by no means the only type which does not define it.

why don't we define `Base.hash(::RingElem, h::UInt) = h` (or actually for all types we define!) and in the interface just ask to provide a better function?

[2019-06-27 21:04] wbhart commented on #120
Why don't we just add hash functions for types that don't have them?

I don't understand this desire to implement trivial hashes. They are so terribly easy to implement properly, and there are plenty of examples.

[2019-06-27 21:31] kalmarek commented on #120
I don't understand why we should stick to the definition which (while with some merits based on performance) gives false mathematical results. And as we can see it's very easy to forget to define hash AND to find out which types don't define it.

you don't have to take my word for it; just count the number of issues referencing this one: [custom hashing is too easy to accidentally break](https://g

[2019-06-27 22:01] wbhart commented on #120
I don't want to stick with the incorrect definition. But why waste all that effort to add trivial hash functions and tests and not the extra couple of lines to do it properly?

[2019-06-28 05:48] fieker commented on #120
On Thu, Jun 27, 2019 at 03:01:34PM -0700, wbhart wrote:

Why haven't we done it already if it is trivial?

Point is: even we did not manage over the last years to implement hashes
for all our types, thus to implement a generic trivial one would be an
improvement. I agree that this might produce a false sense of security,
but if even we cannot manage to do it the 1st time round, then why do we
beli

[2019-06-28 05:52] kalmarek commented on #120
@wbhart adding a correct fallback does not preclude us from providing specific hashes for particular types

[2019-06-28 05:54] fingolfin commented on #120
I support @kalmarek's suggestion as well

[2019-07-02 09:07] heiderich opened #125 "Provide an up to date version of the documentation"
As I understand from the comment https://github.com/oscar-system/Singular.jl/pull/112#issuecomment-505378804 the documentation for Singular.jl is not available online and there is some documentation available there. Currently the documentation contains the URL http://wbhart.github.io/Singular.jl/ for online-documentation. However I do did not check whether it is up to date.

Suggestion: Can we cen

[2019-07-02 10:26] wbhart commented on #125
Yes, we can do this. Someone needs to get around to setting up the gh-pages account and sorting out the deployment. It's on a very long list of things....

[2019-07-19 08:37] raulepure opened #126 "Different data types for univariate/multivariate polynomials"
When asking for the type of variables the following is returned in the univariate case:
`julia> R , (x) = Singular.PolynomialRing(Singular.QQ, ["x"])
(Singular Polynomial Ring (QQ),(x),(dp(1),C), spoly{n_Q}[x])

julia> typeof(x)
Array{spoly{n_Q},1}`

and the following in the multivariate case:
`julia> R , (x, y) = Singular.PolynomialRing(Singular.QQ, ["x", "y"])
(Singular Polynomial Ring (QQ),(x,y

[2019-07-19 08:39] fieker commented on #126
On Fri, Jul 19, 2019 at 01:37:08AM -0700, raulepure wrote:

Nope. In the 1st case, you probably wat (x, ) to get what you want.
(x) is no tuple in julia, (x, ) is a tuple of length 1...

[2019-07-19 08:43] #126 closed

[2019-08-17 12:31] FabianMaeurer opened #131 "Constructors for CoefficientRing non-existent"
In the documentation it says, that it's possible to coerce Nemo/AbstractAlgebra rings to Singular.CoefficientRing by something like

R, x = Nemo.PolynomialRing(ZZ, "x")
S = CoefficientRing(R)
t = S(x)

But trying this it seems that the constructor is not defined.

[2019-08-17 18:45] wbhart commented on #131
Yes, unfortunately this code is currently inactive because of the rewrite of Singular.jl to use CxxWrap instead of Cxx. It will be reenabled eventually (hopefully in a month or two at most).

Sorry for the inconvenience.

[2019-09-24 12:44] #120 closed

[2019-09-25 12:32] wbhart commented on #116
It will now print an error message, and Oscar can define equality however it likes.

[2019-09-26 14:34] wbhart opened #143 "Documentation fails to push to gh-pages on oscar-system"
I don't understand why, but the public key is rejected. I tried setting this up twice, and it worked the second time, but then next time docs went to build, it failed again. I don't see why the key keeps being rejected. It's like it is a temporary key or something.

[2019-09-26 14:35] wbhart opened #144 "total_degree docs missing"
Apparently total_degree is referred to in the docs but there is no docstring for it.

[2019-09-27 11:27] wbhart opened #145 "Missing documentation"
The following functions are exported from Singular.jl but have no documentation. It would be great if people who wrote these could write some docstrings and import them into the manual (.md files).

@raulepure @ederc @hannes14 @wbhart (someone else will have to take care of the ones written by @sebasguts and @steenpass)

I myself am particularly interested to learn what Singular.R is.

[code]

[2019-09-27 14:47] johannes-hoffmann opened #148 ""fmpq not defined" error"
In a rather complicated use case involving both Nemo and Singular, I encountered `ERROR: UndefVarError: fmpq not defined` pointing to line 165 in the following function:

https://github.com/oscar-system/Singular.jl/blob/af812af346209fee3c54179c3763e9f390c92f8d/src/libsingular/flint/fmpq.jl#L164-L168

Judging from other functions in the neighborhood, there seem to be some `Nemo.` missing. I can try

[2019-09-27 14:51] wbhart commented on #148
A PR would be great. If you could search for all fmpz and fmpq's in that file, it would be a great help.

[2019-09-27 14:53] wbhart commented on #148
In theory I already fixed all these. But I must have missed this particular file for some reasons. It's a wonder it passes the tests.

If you could add a test to trigger this case, that would be even more helpful. The tests are in the file [1] if I am not mistaken.

[1] https://github.com/oscar-system/Singular.jl/blob/master/test/libsingular/nemo-test.jl

[2019-09-27 15:04] johannes-hoffmann commented on #148
Something like
[code]
reproduces the error.

Basically all `fmpq` should be `Nemo.fmpq`? And the same for `fmpz` in the file next door?

[2019-09-27 15:22] wbhart commented on #148
Yeah that looks harmless enough. If you could add that to the relevant test, that would be fantastic.

Yes, all fmpq should be Nemo.fmpq and fmpz should be Nemo.fmpz. Since you are going to fix a few of these, you may as well fix them all throughout the file. Most of them should be correct, but I see a few others which are not, especially when used as type assertions (::fmpq or ::fmpz).

[2019-09-27 15:23] johannes-hoffmann commented on #148
I will open a PR soon. What about the call to `fmpq` in line 167?

[2019-09-27 17:58] wbhart commented on #144
Fixed by PR146

[2019-09-27 17:58] #144 closed

[2019-09-27 19:12] wbhart commented on #148
Fixed by #149

[2019-09-27 19:12] #148 closed

[2019-10-08 12:08] wbhart commented on #143
Seems to be mysteriously fixed.

[2019-10-08 12:08] #143 closed

[2019-10-08 12:10] wbhart opened #152 "Document library caller"
Pull request 104 introduced the ability to call Singular libraries. However, @fingolfin requested some code comments to be added, which @sebasguts volunteered to add (since he wrote the code).

[2019-10-08 12:11] wbhart opened #153 "Singular libraries in Caml case"
Currently the Singular libraries are accessed by FULL CAPS names, which is not Julian. These should be changed to Caml case. This relates to pull request 104.

[2019-10-08 12:13] wbhart opened #154 "Implement high level wrapper of bigintmat"
This is currently missing, even though the caller needs big integer matrices for some Singular library functions.

Therefore we should write a wrapper for bigintmat, just as we have high level wrappers for other Singular types.

[2019-10-08 16:03] wbhart opened #157 "change_base_ring test fails"
This may be related to changes in AbstractAlgebra, but might also be fixed by @raulepure 's PR 140. In any case, I open a ticket just so it doesn't get overlooked.

Note that I disabled the spoly.change_base_ring test until this is resolved.

[2019-10-08 16:04] wbhart opened #158 "convert_MPoly_to_SingularPoly test fails"
It's not clear if it ever passed. I disabled it until it can be looked at. I think the implementation of the actual function is probably broken, possibly as a result of changes to AbstractAlgebra, but also possibly because it's just broken.

[2019-10-09 06:49] thofma opened #159 "Failing on julia master"
On linux:
https://travis-ci.org/oscar-system/Singular.jl/jobs/595190635
Some compiler internals leaking into the code.

[2019-10-09 10:58] wbhart opened #161 "alghom compose test failure"
@raulepure already knows about this. It is probably a reference counting issue.

[code]

[2019-10-09 17:21] #158 closed

[2019-10-10 10:49] #161 closed

[2019-10-11 12:44] wbhart commented on #153
It looks like @sebasguts already fixed this. Libraries now seem to have names like LibPolys, which is fine.

[2019-10-11 12:44] #153 closed

[2019-10-15 12:52] wbhart opened #167 "sideal.eliminate bug"
[code]

[2019-10-16 19:40] #157 closed

[2019-10-25 18:21] raulepure opened #170 "n_unknown: ring or field"
At the moment we have no method to know, whether a coefficient ring of n_unknown type is a ring or field. It treats Nemo.ZZ and Nemo.QQ in the same way, whereas some algorithms rely on the fact, that we need a coeficient field and not a ring.
This needs to be fixed at some point.

[2019-10-28 10:36] hannes14 commented on #170
libSingular provides this information: nCoeff_is_Ring(const coeffs cf)

[2019-10-28 11:10] wbhart commented on #170
He's just talking about the fact that in Singular.jl n_unknown belongs to
Singular.RingElem even if it wraps a Nemo.FieldElem. We'll have to make two
types out of it, as this info is required at compile time.

On Mon, Oct 28, 2019, 11:36 AM Hans Schoenemann <notifications@github.com>
wrote:

[2019-10-29 17:36] johannes-hoffmann opened #172 "Extracting constants from Singular polynomial rings over Nemo fields"
Assume `R` is a `Singular.PolynomialRing` over a `Nemo.Field` called `K`. Is there a way to coerce constant polynomials in `R` back to `K`?
Example:
[code]
and I would like to extract `K(5)` from `a` (`K(a)` did not work).

[2019-10-31 12:59] wbhart commented on #172
Good idea. There isn't such a thing at present, at least not a supported interface.  I think if c is such a coefficient, julia(c.ptr) might do the job, but I am not sure. This is obviously not ideal, even if it works.

[2019-11-12 10:18] AlexD97 opened #176 "Assertion fail"
Hi,

installation works, but when trying to use something like
`R, (x,y) = PolynomialRing(QQ, ["x", "y"])`
I get
[code]

[2019-11-12 11:55] wbhart commented on #176
Thanks for the report. We haven't seen this error before.

On what kind of machine is it running?

Perhaps @hannes14 or @raulepure can take a guess what is going wrong here?

[2019-11-12 12:50] hannes14 commented on #176
Maybe there are 2 different Singular versions on the system?
Taking the include files from one and linking with libSingular.so from the other is possible,
but will end in desaster.

[2019-11-12 13:15] wbhart commented on #176
@hannes14 is back now. Could you bring your laptop by again and we will see if we can track down the source of the problem.

[2019-11-12 20:26] wbhart opened #177 "Singular.FiniteField(3,1,"x") segfaults"
Reported by Meinholf Geck.

[2019-11-13 10:16] AlexD97 commented on #176
Thanks for your help. I had to remove Singular from my machine.

[2019-11-13 10:16] #176 closed

[2019-12-04 12:28] #177 closed

[2019-12-09 15:29] AlexD97 opened #180 "Reduce for modules"
Hi,

it would be very nice if it was possible to use reduce also for modules.

[2019-12-11 12:57] wbhart opened #181 "Check for C++ compiler being recent enough and supporting C++14 (for CxxWrap.jl)"
The CxxWrap module has to be compiled outside of BinaryBuilder as linking is done against the user's Julia (the location of which we do not know at BinaryBuilder time). For this, we need at least cmake and C++. We should add a test for these and add a helpful message if they are not found.

[2020-01-20 10:22] saschatimme opened #187 "Singular solve segfaults for univariate polynomials"
Using Julia 1.2 I get this:

[code]

[2020-01-20 10:35] saschatimme opened #188 "Inconsistency for conversion"
This is inconsistent:
[code]

[2020-01-20 13:05] fieker commented on #188
Apart from agreeing that this is inconsitent, do we care?
I'd have thought that Rational{BigInt} is a julia type, not a
"supported" Oscar type (would be fmpq).
I don't think we wil be able to convert everything to everything,
ever...

Is there a use case?

On Mon, Jan 20, 2020 at 02:35:20AM -0800, Sascha Timme wrote:

[2020-01-20 13:57] wbhart commented on #187
The segfault seems to happen in Singular itself, so I will pass this to @hannes14 for now. Of course the problem can still be that we are doing something stupid in Singular.jl, so he may end up passing this back to me.

Thanks for the report.

[2020-01-20 14:02] wbhart commented on #188
Thanks for the report. Agreed, this is inconsistent.

What I have been doing up to this point is using R(a) for cases where a canonical conversion/coercion is possible without losing data (for any value of a). In cases where a conversion is possible but only in some cases, I use the convert function.

However, someone pointed out that in some contexts if you supply one you get the other for free (

[2020-01-21 14:15] hannes14 commented on #187
The problem is in the change of the used ring during the function "solve": input is in QQ[s], output in (complex(i))[s], but the printing routine for QQ was used on the complex floating point numbers.
In Singular this cannot happen: one has to change the ring (manually) before one can access the solutions. In Singular.jl the correct ring must be set (as the parent object).
Usually the converting r

[2020-01-21 18:40] wbhart commented on #187
Yeah this is probably due to the fact that everything in Singular.jl that calls the Singular interpreter just goes through Sebastian's generic code for this. It doesn't know that the output has to have a different type and so it never sets the parent of the return values correctly, and it certainly can't have a clue what to set it to.

Now if only someone could have predicted that this sort of thi

[2020-01-21 18:41] wbhart commented on #187
Incidentally, I have *absolutely no idea* how to fix this!

[2020-01-21 20:22] wbhart commented on #187
So @tthsqe12 and I looked through the Singular.jl code that handles Singular library calls, and it seems that the original code above was incorrect.

It should not have been Singular.LibSolve.solve(I) but Singular.LibSolve.solve(C, I) where C is the ring you want the output to be in. In other words, you need to create the output ring first, and pass it to the function. This is in fact the only way

[2020-01-21 20:26] wbhart commented on #187
By the way, here is the beautiful, mathematically correct heuristic it uses to try and compute the correct ring for the output if it isn't supplied:

* for each input argument d
   - if the ring of d is not nothing, then return d

[2020-01-21 20:37] wbhart commented on #187
On the other hand, it is of course impossible for you to create the same ring that Singular is going to create for you, even if you know what it should mathematically be. So how this can ever work, I don't know. Probably it never will.

[2020-01-22 09:54] tthsqe12 commented on #187
As far as I can tell, the function `low_level_caller` in `caller.jl` has to infer a currRing for the call to singular. While the inference of this ring (`rng`) could be improved, it is also seemingly used to convert the output on https://github.com/oscar-system/Singular.jl/blob/master/src/caller.jl#L188.

I would say this is why Singular.jl thinks the output is in QQ when it is not.

[2020-02-04 14:00] wbhart commented on #159
CxxWrap 0.9.0 is now out.

[2020-02-25 15:52] mohamed-barakat opened #198 "Path of Singular binary"
Is it possible to get the absolute path of the Singular binary `deps/usr/bin/Singular`?

[2020-02-25 16:49] wbhart commented on #198
The Julia function abspath will give the absolute path corresponding to a relative path:

https://docs.julialang.org/en/v1/base/file/#Base.Filesystem.abspath

Hopefully this link gives you the other info you need:

https://discourse.julialang.org/t/path-of-this-package/16401

[2020-02-26 06:45] fieker commented on #198
On Tue, Feb 25, 2020 at 07:52:37AM -0800, Mohamed Barakat wrote:

julia> pathof(Hecke)
"/home/fieker/.julia/dev/Hecke/src/Hecke.jl"

and then joinpath/ splitpath

[2020-02-26 09:49] mohamed-barakat commented on #198
Perfect, works:

`joinpath(splitdir(splitdir(pathof(Singular))[1])[1],"deps/usr/bin/")`

Thank you both very much.

[2020-02-26 09:49] #198 closed

[2020-03-06 09:56] mohamed-barakat opened #202 "ERROR: LoadError: Failed to precompile Singular"
I now keep getting build failures for `HomalgProject.jl` on travis with the error

`ERROR: LoadError: Failed to precompile Singular`

https://travis-ci.com/homalg-project/HomalgProject.jl/jobs/294118839

The log shows problems with `CxxWrap`

[code]
Is this a known issue?

[2020-03-06 10:10] wbhart commented on #202
No, everything should be fine. Do you specify a version number for Singular.jl or CxxWrap.jl in your Project.toml? If so, perhaps you need to update them.

[2020-03-06 10:35] mohamed-barakat commented on #202
I am requiring

[code]
https://github.com/homalg-project/HomalgProject.jl/blob/master/Project.toml

Do you see a mistake?

[2020-03-06 11:08] wbhart commented on #202
You have to add CxxWrap (the latest version). Probably it is using an older version.

[2020-03-06 11:16] mohamed-barakat commented on #202
I thought since the released `Singular.jl` v0.2.0 is requiring `CxxWrap` I do not need to require any such dependency

[code]

[2020-03-06 11:20] wbhart commented on #202
Yes, that should be correct, at least with the latest Singular,jl. But I don't see any other explanation for the problem.

By the way, you want:

CxxWrap = "^0.9"

which of course implies Singular 0.2.

[2020-03-06 11:22] mohamed-barakat commented on #202
Under

https://github.com/JuliaInterop/CxxWrap.jl/releases

in the section **Breaking changes** for v0.9.0 it mentions `IsMirroredType` which seems to be the reason for the CxxWrap error in the above log:

* IsMirroredType instead of IsImmutable and IsBits, added using map_type.

By default, IsMirroredType is true for trivial standard layout types, so if you want to wrap these normally
(i.e. you g

[2020-03-06 11:25] wbhart commented on #202
The latest Singular handles all that. Unless you are using CxxWrap directly, you don't need to worry about any of that.

My guess is for some reason it is still using Singular 0.1 with the latest Julia. You could try removing 0.1 from your Singular.jl compat instead of adding the dependency on CxxWrap.

[2020-03-06 11:31] wbhart commented on #202
Another thing you might try is to delete the directory .julia/clones

Then remove Singular and CxxWrap from your system and try again. By remove I mean go into package mode and free Singular and rm Singular, same with CxxWrap.

[2020-03-06 11:32] wbhart commented on #202
Oh don't worry, I see that your problem is with travis, not a local machine. That won't be relevant.

[2020-03-06 12:00] wbhart commented on #202
Actually, I think I have figured out the problem. The gcc Travis uses by default is not compatible with CxxWrap 0.9. If you add the following at the beginning of your Project.toml the problem should go away:

# Force Ubuntu 18.04 "Bionic" to get even newer GCC, binutils etc.
dist: bionic

[2020-03-06 12:01] wbhart commented on #202
That first line is just a comment with a hash character. GitHub interprets it as Markdown, which is why it is bold with an underline.

[2020-03-06 12:09] mohamed-barakat commented on #202
Thank you very much Bill. I allowed myself to change your post and quoted the corresponding segment.

[2020-03-06 12:45] mohamed-barakat commented on #202
Your comments resolved the issue. Thanks again Bill.

[2020-03-06 12:45] #202 closed

[2020-03-31 10:23] fingolfin opened #209 "Singular.jl does not work with Julia 1.4"
There are CxxWrap related errors while compiling as one can see in the [Travis logs](https://travis-ci.com/github/oscar-system/Singular.jl), where a segfault during precompilation apparently happens. I assume this is related to https://github.com/JuliaInterop/CxxWrap.jl/issues/214 (perhaps @saschatimme @benlorenz @kalmarek know better, though?)

[2020-03-31 12:46] saschatimme commented on #209
Yep, its the same thing. Things should work with CxxWrap master and a new release of CxxWrap should also be ready soon.

[2020-04-15 15:09] thofma opened #217 "Is `Pkg.add("Singular")` supposed to work?"
I get lots of CxxWraps errors when doing `Pkg.add("Singular")` but I don't know if this is expected or not? I tried on julia 1.0 and julia 1.3. For example, https://travis-ci.org/github/ederc/GB.jl/builds/675341671

This is a package which has Singular as a dependency.

[2020-04-15 15:13] fieker commented on #217
My guess is that the c++ compiler is too old. Same as for polymake, it needs to support c++-17, hence the debian 16.04 default is too old

[2020-04-15 15:23] thofma commented on #217
Thanks, adjusted the Ubuntu version of travis and it works.

[2020-04-15 15:23] #217 closed

[2020-04-17 11:56] fingolfin opened #219 "Random (?) test failure in `test/ideal/sideal-test.jl:278`"
Just got this in a Travis test. Restarting the job made the issue go away. Really weird -- is there *anything* which is randomized about this code? @hannes14 ?

[code]

[2020-04-17 12:01] fingolfin commented on #209
This is working now. Not sure why, but it is.

[2020-04-17 12:01] #209 closed

[2020-04-17 12:01] fingolfin commented on #181
We get CMake "for free" via CMake.jl (and I changed our build.jl to use that some time ago). So "only" the C++ compiler remains

[2020-04-21 09:28] #159 closed

[2020-04-21 09:31] #102 closed

[2020-04-21 10:32] fingolfin commented on #187
I just discovered this issue. Let me start by pointing out that all the work Sebastian did there was based on the GAP-Singular interface [SingularInterface](https://github.com/gap-packages/SingularInterface) which we developed in close partnership with @hannes14. To be precise, I explained to Sebastian how it works roughly and he then set out to wrote his code (and I still think that was an import

[2020-04-21 15:11] fingolfin opened #224 "Track coverage of C++ code, too"
It would be good to track coverage of the C++ code in `deps/src`, too (not just of the Julia code in `src`). This probably involves convincing the cmake build system to insert `--coverage` into `CXXFLAGS` and `LDFLAGS` used for building `libsingularwrap`.

[2020-04-23 09:57] gangchern opened #225 "A simple code. How to translate to Julia code?"
The following is the singular code for the Milnor number.
[code]

The I try to write it in julia. What is the corresponding julia code? How to set the ring or field to be complex number or real number?  I can not find the corresponding function in the document. Is there any dict  for the function names?

[2020-04-24 15:41] #225 closed

[2020-04-24 16:06] wbhart commented on #225
You can create complex numbers with CC = Nemo.ComplexField(128) for example. I'm not sure if this will actually do what you want though.

The documentation covers how to create polynomial rings, polynomials and ideals. Most of the other names should be the same as Singular.

[2020-04-27 23:32] mohamed-barakat opened #226 "Banner shows Julia version not Singular version"
[code]

[2020-04-28 05:48] fieker commented on #226
On Mon, Apr 27, 2020 at 04:32:46PM -0700, Mohamed Barakat wrote:
I implemented a first, bad banner hopeing that some singular guru would
do a better job. This too is the singular log, singular.jl should be
different, e.g. Greuel and Pfister should appear...

[2020-04-29 11:41] fingolfin commented on #226
"Greuel and Pfister should appear" ? Or not appear?

[2020-04-29 11:46] fieker commented on #226
On Wed, Apr 29, 2020 at 04:41:36AM -0700, Max Horn wrote:

On Singular: yes
On Singular.jl: no
In summary: I don't know...

[2020-04-29 11:50] fingolfin opened #229 "Add workaround for Xcode 11.4"
We need something similar to what was done in https://github.com/oscar-system/Polymake.jl/pull/270

Then we can get rid of the workaround description on the website.

@hannes14 can you look into this? For testing of the patch, we can use Travis, see my PR #214, and also @mohamed-barakat might help.

[2020-04-29 11:58] fingolfin commented on #226
Well, that's something @wdecker should decide...

@mohamed-barakat in the current master branch, @fieker and @hannes14 fixed this, it now shows this for me:
[code]
Though I note that it's a bit odd this way: it says

then goes on to show a Singular banner, which somehow also includes the Singular.jl version. Might make more sense like this?
[code]

[2020-04-29 12:18] fieker commented on #226
On Wed, Apr 29, 2020 at 04:59:09AM -0700, Max Horn wrote:

It was done to show the information s.w. and to motivate the Singular
"community" to do better. Some unnamed people already complained about
the names shown - and absent, implying that times have changed.
Attributing this to the Singular team, the oscar-project, the
tooth-fairy... is possibly better

[2020-04-29 12:22] mohamed-barakat commented on #226
I also would prefer it this way. And then you one could add further attributions to the first line if desired.

[2020-04-29 14:01] wbhart commented on #226
If this is seriously how the Singular.jl banner is going to look, the Nemo.jl banner is going to have to change to include the Flint authors.

[2020-05-01 11:43] #229 closed

[2020-05-02 11:08] gangchern opened #231 "an error when I install Singular 0.3.1, how to fix it?"
Updating git-repo `https://github.com/oscar-system/Singular.jl.git`
  Updating git-repo `https://github.com/oscar-system/Singular.jl.git`
 Resolving package versions...
ERROR: Unsatisfiable requirements detected for package BinaryProvider [b99e7846]:
 BinaryProvider [b99e7846] log:
 ├─possible versions are: [0.1.0-0.1.5, 0.2.2-0.2.3, 0.2.5-0.2.8, 0.3.0, 0.3.2-0.3.3, 0.4.0-0.4.2, 0.5.0-0.5.4] or un

[2020-05-02 11:14] wbhart commented on #231
Probably you have some packages dev'd. To fix that, you can Pkg.free them. You may also have installed some packages with specific requirements, and you should Pkg.rm them.

[2020-05-13 15:38] mohamed-barakat opened #233 "Gröbner bases in plural"
I will collect here some remarks on the Gröbner basics (`std`, `liftstd`, `lift`, `syz`, ...) in `Singular`'s subsystem `Plural`. These remarks might be helpful for designing the interaction between the noncommutative ring interface in `Oscar/AbstractAlgebra` and `Plural`.

Whenever I say matrix below I mean the matrix or module in `Singular/Plural`. I think of what is called a module in `Singular

[2020-05-18 11:04] mohamed-barakat opened #234 "Singular.jl fails to compile in a docker container running ubuntu:latest"
[code]

[2020-05-18 11:13] mohamed-barakat commented on #234
To get so far I add to:
[code]

[2020-05-18 11:26] wbhart commented on #234
There might be more info in one of the log files. I don't see CxxWrap being built, but it seems to have found something, which probably means it was there somewhere.

[2020-05-18 11:40] mohamed-barakat commented on #234
The above error is the entire content of the short log file. And `build CxxWrap` finishes without errors.

[2020-05-18 20:34] mohamed-barakat commented on #234
I am attaching the file [CMakeCache.txt](https://github.com/oscar-system/Singular.jl/files/4646529/CMakeCache.txt)

[2020-05-19 01:48] mohamed-barakat commented on #234
I was not aware of adding `libjulia-dev`, which @fingolfin suggested in https://github.com/oscar-system/GAP.jl/issues/462.

Adding it makes `Singular.jl` build properly passing its own tests.

[2020-05-19 01:48] #234 closed

[2020-05-21 22:52] fingolfin commented on #231
It's unfortunate that the Pkg.jl error messages in these situations are not better. In any case: the title of this reports refers Singular 0.3.1, but the content refers to installing the dev version. Which one do you want to do?

You may want to try `Pkg.update() ; Pkg.resolve()`. Is the issue still there? Then perhaps tell us the output of `Pkg.status()`

[2020-05-23 10:59] fingolfin opened #236 "ensure 4ti2 integration works even if user doesn't have lib4ti2_jll installed in global environment"
The following review comment by me on PR #235 was not yet addressed; @tthsqe12 can you please look into this?

In general, `lib4ti2_jll` won't be installed in the main environment: If the user just did  `add Singular` or `add Oscar`, then I think doing `import lib4ti2_jll` like that won't work (or perhaps I am missing something?).

But I think we could solve this as follows: we setup a private Jul

[2020-05-23 15:46] fieker commented on #236
On Sat, May 23, 2020 at 03:59:47AM -0700, Max Horn wrote:

If lib4ti2_jll is a dependency the it will be installed in such a way
that import lib4ti2_jll will work - within Singular.
using lib4ti2_jll outside will no work, but add lib4ti2_jll wil be
instantaneous...

[2020-05-23 16:21] mohamed-barakat commented on #236
In the situation you describe above:
* If one invokes one of the scripts externally from the shell one indeed gets the error message (as pointed out by Claus):
[code]
* However, according to my understanding and experiments, the script will succeed in importing `lib4ti2_jll` if called by a package having it as a dependency as long as the package `BinaryProvider` is also among the dependencies. Ple

[2020-05-23 17:30] fingolfin commented on #236
@mohamed-barakat if this is empirically true (i.e. you verified it experimentally), fine. But there is no BinaryProvider documentation other than its README, and I don't see anything to ghat effect in it (I may have missed it?). so I am still very curious about this claim. You mentioned it before, but I still didn't have time to try it.

[2020-05-23 17:59] mohamed-barakat commented on #236
I did the experiments again but I am now unable to justify my claim. So I now regard it as false. Sorry for the confusion.

[2020-05-23 21:09] tthsqe12 commented on #236
If lib4ti2_jll provides us with executables, what is wrong with hard coding the paths of these executables into the three scripts for singular?

[2020-05-23 23:41] fingolfin commented on #236
Hardcoding breaks whenever lib4ti2_jll get updated, as the paths involve a artifact id which changes in each update. Moreover, it's not just the path to the artifact which needs to be set, but also env vars which tell the linker where to find libgmp, libglpk -- and all of these involve further artifact ids (which are sha1 checksums)

[2020-05-24 06:56] gangchern commented on #231
Thanks for replying. I try Pkg.update() and resolve(), the issue still there. Then I just reinstall the julia again and install Singular first. That works.

[2020-05-28 00:22] mohamed-barakat opened #237 "Error building Singular after update"
[code]

[2020-05-28 00:23] #226 closed

[2020-05-28 00:27] mohamed-barakat opened #238 "Error compiling Singular on MacOS 10.10.5."
The following compilation error was reported to me by Alban Quadrat. He was trying to compile Singular on a MacOS 10.10.5.

[code]

[2020-05-28 01:33] wbhart commented on #238
What is hello.cpp? I'm not familiar with this file.

To me the error looks like the version of CxxWrap is somehow wrong, but I don't have an idea as to why.

[2020-05-28 11:34] mohamed-barakat commented on #238
This was a fresh installation of Julia 1.4.1 two weeks ago.

[2020-05-28 12:22] wbhart commented on #238
That file, according to the git history, was added as part of the "workaround" for problems with Xcode 11.4.

I'm going to guess it isn't supposed to compile on certain versions, but instead of the failed compilation being ignored, it is crashing the build.

[2020-05-28 14:43] mohamed-barakat commented on #238
I am personally running Xcode 11.4 everything was working till yesterday (see #237).

[2020-05-28 14:47] wbhart commented on #238
Yeah unfortunately I have no insight into that issue at all. I think @fingolfin is going to have to weigh in on this one, and then maybe we get a hint about the other.

[2020-05-28 15:23] fingolfin commented on #238
Are you saying it isn't working for you either? On which OS are you?

Otherwise I'd say the answer is simply this: Xcode on macOS 10.10 does not support C++14 and hence CxxWrap can't be used, hence neither can Singular.jl. This is also documented on https://oscar.computeralgebra.de/install/

[2020-05-28 15:36] mohamed-barakat commented on #238
Thanks for the hint, I missed this info segment. I emailed him he should update his OS.

And since yesterday if have this issue #237. Maybe someone could reproduce it.

[2020-05-28 15:43] mohamed-barakat commented on #237
Here is my workaround for the moment
[code]

[2020-05-28 17:26] fingolfin commented on #237
Urgh, sounds like a possible  regression in CxxWrap / libcxxwrap_julia_jll.
The later was updated yesterday (to use Julia_jll) which would fit the timeframe.

[2020-05-28 17:33] mohamed-barakat commented on #237
Wouldn't it make sense to reopen your PR you closed yesterday:

https://github.com/JuliaInterop/CxxWrap.jl/pull/236

[2020-05-28 17:47] fingolfin commented on #237
Not really. That PR did nothing useful

[2020-05-28 18:06] fingolfin commented on #237
I can reproduce this locally and will submit an issue with CxxWrap.jl

[2020-05-28 23:06] fingolfin commented on #237
See https://github.com/JuliaInterop/CxxWrap.jl/issues/246

[2020-05-28 23:42] mohamed-barakat commented on #237
Now it works. Thank you very much Max

[code]

[2020-05-28 23:42] mohamed-barakat commented on #237
This issue can be closed.

[2020-05-28 23:42] mohamed-barakat commented on #238
I will close this issue which I consider resolved.

[2020-05-28 23:42] #238 closed

[2020-05-28 23:43] #237 closed

[2020-05-29 12:12] raulepure opened #239 "Bug in Singular.jl's std?"
I ran the following std computation:

[code]

Changing the monomial ordering to dp (and just renaming the ideal) gives the following:
[code]
My ideal is not the one-ideal, but the computation using the dp ordering yields exactly this result. Something seems to be wrong on the Singular.jl side.
I checked with Singular and there I get the expected results in dp and lp.
Does anyone have a clue where

[2020-05-29 14:22] raulepure commented on #239
I'm not sure, where it could be in function field code, because it is just used to define the coefficients. The rest should be a pointer sent to singular, or am I wrong?

I already tried both examples independently with a clean loaded version of julia and Singular.jl.

They always give the same result. The lp one is correct, the dp one is just wrong.

In the meantime I also have an example where t

[2020-06-09 00:24] wbhart opened #242 "Singular no longer builds on Ubuntu"
I was going to do some work on Singular, but it no longer builds for me.

Here is the message:

[code]

If I run the cmake command in deps/src manually, here is what I get:

[code]

This used to happen before, but we fixed it, so I don't know why it is happening now.

[2020-06-09 00:27] wbhart commented on #242
I did try updating CxxWrap, but same problem.

[2020-06-09 00:29] wbhart commented on #242
I am using Julia 1.4.2.

[2020-06-09 00:37] wbhart opened #243 "Singular no longer builds on Ubuntu with Julia-1.0.4"
Here is the message I get:

[code]

This appears to be something to do with the new graver/hilbert/markov executables.

[2020-06-09 00:39] wbhart commented on #243
It's weird because on those lines of code we have prefixpath, not prefix_path. I have no idea what's going on here.

[2020-06-14 12:47] tthsqe12 commented on #187
I will start working on this.

[2020-06-14 22:59] wbhart opened #245 "Add Weyl and Exterior algebras"
- [x] Add low level libSingular wrappers of Singular's rWeyl and rExterior (This was the wrong approach, just use pural functionality)
- [x] Add high level pweyl and pexterior types (There is no pexterior and they is spuralg for plural polys)
- [x] Add high level ExteriorAlgebra and WeylAlgebra ring types (Again, the wrong approach with ExteriourAlgebra, it is GAlgebra)
- [x] Make AbstractAlgebra

[2020-06-15 14:28] tthsqe12 commented on #187
As far as I can tell the offending line is
https://github.com/oscar-system/Singular.jl/blob/master/src/caller.jl#L62
which calls the following nonsensical function in PolyTypes.jl
[code]
There are only a very limited set of circumstances in which this function could possibly be correct.

@hannes14 We need to be able to populate the members of the PolyRing struct
[code]
given only the first one. Th

[2020-06-16 13:36] fingolfin commented on #242
Yeah, likely. We could resolve this by explicating deleting those when building, too, but I think this will only affect a tiny minority of people, and not anymore going forward, so it should be OK to ignore (now that we understand it)

[2020-07-11 12:40] fingolfin opened #249 "Building Singular.jl sometimes segfaults"
On occasion, the GAP Travis CI cron job suddenly fails when it passed just fine the day before (and usually it passes again the day after). Example: https://travis-ci.com/github/oscar-system/GAP.jl/jobs/359721362 which shows this error (note that Singular.jl is being built in isolation, and in particular before GAP.jl is loaded, so this is *not* caused by the Julia GC hooks in GAP.jl):
[code]

[2020-07-21 09:39] fingolfin commented on #249
Stack traces involve CxxWrap, so I submitted https://github.com/JuliaInterop/CxxWrap.jl/issues/259

[2020-08-01 04:54] ThomasBreuer opened #252 "make some Singular functions accessible for Oscar objects"
The functions `Singular.substitute_variable`, `Singular.MaximalIdeal`, `Singular.satstd`, and `Singular.permute_variables` have no counterparts for wrapped Oscar objects, see the comments in oscar-system/GITFans/issues/8.
(I am not sure whether an issue for Singular.jl is the right place for this request, but I have been advised to open one.)

[2020-08-07 19:35] fingolfin opened #254 "Switch Singular.jl from SingularBuild to Singular_jll; create and use `libsingular_jll.jl"
Right now, for Singular.jl we use a custom made Singular binary created via https://github.com/oscar-system/SingularBuilder. It would be good to switch from that to using [`Singular_jll.jl`](https://github.com/JuliaBinaryWrappers/Singular_jll.jl) instead, for multiple reasons; in particular, we'd then finally have the same GMP, MPFR, FLINT, ... in all Oscar packages, see also <https://github.com/o

[2020-08-07 21:03] tthsqe12 commented on #254
Sure. It will be a learning experience. By the way, it might not have been clear from the meeting, but if flint is compiled against < gmp 6.2 and then run with gmp 6.2, it will crash. Latest julia seems to be using gmp 6.3

[2020-08-07 22:13] fingolfin commented on #254
No, that wasn't clear at all. Do you know what exactly is the cause of the crash? (And Julia 1.6 will use GMP 6.2, yeah).

[2020-08-07 22:31] thofma commented on #254
Thw problem is that the binaries were build with GMP 6.1.2. We probably know how to fix it and are currently running some experiments. Also, it is not a problem for Singular, as it is only a problem on Windows.

[2020-08-07 23:01] wbhart commented on #254
GMP changed the way they allocate mpz's from 6.1 to 6.2 (so-called lazy allocation). As Flint requires a compatibility layer to use GMP on various systems, it needs to allocate and deallocate mpz's the same way GMP does, otherwise there will be a crash. Therefore if you build against one version of GMP you can't use another at runtime.

[2020-08-11 11:37] fingolfin commented on #254
@wbhart that sounds like a bug in the FLINT GMP compatibility, though. Indeed, looking at it, it should be trivial to change it so that it works with both GMP 6.1 and 6.2 at runtime, regardless of which version of GMP was used to compile FLINT.

[2020-08-11 11:39] fingolfin commented on #254
See https://github.com/wbhart/flint2/pull/814

[2020-08-11 12:57] wbhart commented on #254
@fingolfin No bug. Please see the GMP sonames. 6.2.0 is not binary compatible with 6.1.2.

#        6.0.0   12:0:2    8:0:4     -
#        6.1.0   13:0:3    9:0:5     -
#        6.1.1   13:1:3    9:1:5     -
#        6.1.2   13:2:3    9:2:5     -
#        6.2.0   14:0:4   10:0:6     -

According to their numbering, interfaces were added in 6.2.0 which don't exist in 6.1.2. So it's not clear if the

[2020-08-12 08:56] fingolfin commented on #254
These are not sonames, they are libtool `version-info` triplets, `current:revision:age`. You perhaps got them from the GMP `Makefile.am`; the third column is for the C++ interface, which (I think?) is not relevant for Flint. So these are the relevant values (an excerpt from the full list):
[code]
To compute the version part of the soname (i.e. the `NNN` in `libgmp.so.NNN`) on Linux from, take the

[2020-08-12 09:38] wbhart commented on #254
Ok. No wonder this soname thing has been confusing me.

[2020-08-21 07:09] wbhart opened #257 "Singular.jl fails to precompile"
Unfortunately Singular.jl (master, I just dev'd it 5 minutes ago) no longer works on my system (Ubuntu 20.04 in WSL).

It builds just fine but when I go to use it (using Singular) it says:

[code]

I have build-essential installed as per the website. Unfortunately I have no insight into the GLIBCXX it is after. Has anyone else encountered this problem?

I am using:

Julia 1.3.1
GNU Make 4.2.1
cmak

[2020-08-21 07:13] wbhart commented on #257
[code]

[code]

[2020-08-21 07:19] wbhart commented on #257
Apparently this is supposed to show the version of GLIBCXX:

[code]

[code]

[2020-08-21 07:22] wbhart commented on #257
But I presume this is more likely the problem:

[code]

[2020-08-21 07:23] wbhart commented on #257
From Singular.jl's Project.toml:

[code]

[2020-08-24 16:48] tthsqe12 commented on #254
reopened because the cxx wrapped stuff is not done yet?

[2020-08-24 16:50] thofma commented on #254
Yes.

[2020-08-25 09:04] thofma commented on #187
This is still an issue. @hannes14, can we try what @tthsqe12 proposed?

[2020-08-25 11:33] hannes14 commented on #187
Fine with me:
to find the coefficient ring/field: use nCoeff_is_.. routines or use r->cf->type (which is of type n_coeffType, has n_Zp,n_Q, etc)
to find the ordering, check r->order.

[2020-08-26 21:33] thofma commented on #236
Is this issue still relevant?

[2020-08-27 00:48] fingolfin commented on #236
yes

[2020-08-28 11:43] #254 closed

[2020-08-28 11:44] thofma commented on #257
I just merged something that has the potential to solve this issue here. Can you update and build again?

[2020-08-28 17:53] ahumenberger opened #261 "Segmentation fault for `isone(zero(Rx))`"
The following piece of code throws a segmentation fault. (Singular.jl v0.3.2, Singular v4.2.1-4)

[code]
[code]

[2020-08-29 09:29] thofma commented on #261
Thanks. I can reproduce on linux. Crashes also for 0.3.1 and 0.3.0 (before the recent binary changes).

[2020-08-29 09:48] thofma commented on #261
To reproduce:

[code]

Not sure where the error is. Note that it is better to debug this on 0.3.2, since then the wrapper is found in `Singular/deps/...`.

[2020-08-31 08:50] tthsqe12 commented on #261
This is a bug with singular itself https://github.com/Singular/Singular/pull/1028

[2020-09-01 13:54] thofma commented on #257
Is this still a problem? If not I will close this issue soonish.

[2020-09-02 08:10] thofma commented on #261
@ahumenberger Could you do a `]up` and try again?

[2020-09-02 08:26] tthsqe12 commented on #261
@thofma when I do
[code]

I get v0.3.2 which is still tied to e7e39839d32320823bf9689c97c5071650497b8e in `deps/build.jl`

[2020-09-02 08:30] thofma commented on #261
Ah, sorry, we have to do a new release first. Can you try after `]dev Singular`?

[2020-09-02 16:00] thofma commented on #261
We just released version 0.4.0, so after `]up`, this should also be fixed for @ahumenberger

[2020-09-04 14:43] tthsqe12 commented on #261
This actually works now with the latest version (0.4.1)

[2020-09-04 14:55] #261 closed

[2020-09-09 08:00] fingolfin commented on #236
Another problem with hardcoding paths of executables is that we can't just run those executables directly -- certain environment variables need to be set so that the executable find the shared libraries they use (and the correct versions of those). This is something Julia does for us in the current "scripts" we output in `deps/build.jl`.

One way to resolve this issue would be to regenerate these

[2020-09-09 08:05] fingolfin opened #268 "Getting rid of deps/build.jl or at least minimize what it does."
The `deps/build.jl` currently still does two things:
1. it generates some shell/julia hybrid scripts for 4ti2 support (but see also issue #236)
2. it calls `parselibs.jl` to generate `src/libraryfuncdictionary.jl`

Note that the output of 1. is independent of the Julia version; and in principle, we could put these scripts into `Singular_jll`. Alternatively, we could generate these scripts at start

[2020-09-09 15:37] benlorenz commented on #268
Regarding 2:
In Polymake.jl we generate (via a command from `libpolymake_julia_jll`) several json files describing the available functions and at the end `@eval` the result. The files are created [here](https://github.com/oscar-system/Polymake.jl/blob/d74e9651c823031fa5c6d6459665256e9369e91b/src/Polymake.jl#L82) and julia code is generated [here](https://github.com/oscar-system/Polymake.jl/blob/ma

[2020-09-11 07:08] thofma commented on #236
Another issue is that `Singular.jl` writes stuff into the package directory of `Singular_jll.jl`, which is actually considered immutable. As far as I understand, we are doing this, because `Singular` looks for these scripts in places which are relative to the location of `Singular`, so we cannot put them anywhere we want?

[2020-09-11 07:32] hannes14 commented on #236
These scripts must in the PATH. Singular adds the location of the binary to the PATH, so that directory is in the PATH for sure,
but others are also fine.

[2020-09-17 10:42] mohamed-barakat opened #270 "Segment fault/Bus error occurred (r:1600338617)"
Executing the attached file with the Singular executable located in the artifacts directory causes the following segfault:

[code]

This bug is related to https://github.com/oscar-system/GAP.jl/issues/519.

[commands_file_of_Singular_with_PID_21298.txt](https://github.com/oscar-system/Singular.jl/files/5238351/commands_file_of_Singular_with_PID_21298.txt)

[2020-09-17 11:03] thofma commented on #270
I can reproduce it. It works with a vanilla Singular 4.1.3.

The Singular version that ships with Singular.jl
1) has NTL disabled. I think this means that some factoring functions are are not working.
2) is more recent then 4.1.3. This could also be the source of the problem, but I don't have a local Singular version which is up to date.

Could you have a look @tthsqe12? If you have a recent versi

[2020-09-17 11:08] #257 closed

[2020-09-17 14:48] hannes14 commented on #270
was a bug in the non-NTL factoring code,
fixed with https://github.com/Singular/Singular/commit/6f68e2baeb196eadcc0a546de4ad10c552f40b15

[2020-09-17 15:09] mohamed-barakat commented on #270
Thank you very much @hannes14.

Is it possible to make a new release of `Singular_jll`?

[2020-09-17 15:44] thofma commented on #270
Thanks @hannes14. I will do a new release tomorrow.

[2020-09-17 18:46] mohamed-barakat commented on #270
Thanks, @thofma.

[2020-09-19 12:44] thofma commented on #270
After a `]up` this should be working now.

[2020-09-19 13:11] mohamed-barakat opened #271 "Incompatible library version: libfactory.dylib requires version 15.0.0 or later, but libgmp.dylib provides version 14.0.0"
[code]

[2020-09-19 13:15] mohamed-barakat commented on #270
Thanks @thofma.

[2020-09-19 14:12] giordano commented on #271
@mohamed-barakat would you be able to checkout this branch of the General registry https://github.com/JuliaRegistries/General/pull/21627?  I'm confident that this should work (in the sense that you'll get a working revision, but it'll be the previous version of the `Singular` library), but I'd like to double check with you.

[2020-09-19 15:59] mohamed-barakat commented on #271
Simply dev'ing `Singular_jll` worked:

[code]

[2020-09-19 15:59] mohamed-barakat commented on #271
Thank you very much.

[2020-09-19 16:05] mohamed-barakat commented on #271
But now I again run into https://github.com/oscar-system/Singular.jl/issues/270.

[2020-09-19 16:32] fingolfin commented on #271
There is another issue here, though: GMP 6.1.2 and 6.2.0 *are* binary compatible in that 6.2 only adds APIs (in a minor way). This is definitely reflected by the soname version on Linux. But perhaps it is "broken" on macOS (typing this on a phone so forgive me for not delving into the nuances here). So something is off here. But I am pretty confident we can resolve this (eg fix 6.2 compat version,

[2020-09-19 16:37] giordano commented on #271
Also the macOS library has the same soversion as GMP v6.1, but libraries on macOS have an additional "compatibility version": GMP v6.1 has compatibility version 14, GMP v6.2 has compatibility version v15.

Compatibility of binaries is an ungodly mess.  The most frustrating part is that it's totally unpredictable.

[2020-09-19 17:00] fingolfin commented on #271
Actually I have a fairly good idea how to resolve this, this is my "home turf": I am a macOS expert and have dealt with Issues like this for the past 20 years. But that was before I had kids😂

[2020-09-19 17:05] mohamed-barakat commented on #271
No hassle, `Singular.jl` is now working again on Mac OS and I can wait a couple of days for a proper solution. Enjoy your kids.

[2020-09-19 18:22] thofma commented on #270
@mohamed-barakat Here is another way to work around the bug. I assume you have a working local Singular version lying around. Then you can use this in Singular.jl as follows:

Create a file in `$HOME/.julia/artifacts` called `Overrides.toml` with the following content:
[code]
(If you got the path wrong, he will complain about it when doing `using Singular` and show you where he has been looking fo

[2020-09-19 20:49] mohamed-barakat commented on #270
Thank you Tommy:

`HomalgProject.jl` sets the `PATH` and `LD_LIBRARY_PATH`/`DYLD_LIBRARY_PATH` to point the artifact paths of Singular and I have to disable this first. In any case doing what you suggest shows me the following warnings:

[code]

[2020-09-19 22:03] giordano commented on #271
There is a more general issue about JLLs involving binaries that are dependencies of Julia: https://github.com/JuliaPackaging/Yggdrasil/issues/1682.  @fingolfin you may want to chime in :slightly_smiling_face:

[2020-09-20 10:04] thofma commented on #270
I think I did it wrong (not sure why it still worked for me). I think the file needs to contain only:
[code]

[code]
Could you try again?

[2020-09-20 11:00] mohamed-barakat commented on #270
Thanks Tommy. If I do this I get the error

[code]

[2020-09-20 11:32] thofma commented on #270
Ah sorry, I forgot to mention that you must have to build Singular with `--with-libparse`, i.e., run `./configure --with-libparse $yourotheroptions` and do `make install `again.

[2020-09-23 10:56] rbehrends opened #272 "Error building Singular.jl on aarch64"
Building Singular on an ARM machine (aarch64) fails with the following error:

[code]

The error seems to occur because there is no binary download for libflint for that architecture. I'm not sure if flagging it on Singular.jl is correct, but it seems to occur specifically in this context.

[2020-09-23 11:02] thofma commented on #272
Which (ancient) version of Singular.jl is this? Surely not the most recent one.

[2020-09-23 11:14] rbehrends commented on #272
It's what you get when trying to use `Pkg.add("Oscar")`. That's v0.3.2, unfortunately, but it's also what end users are seeing currently when installing Oscar.

[2020-09-23 11:21] mohamed-barakat commented on #272
As I understand from Reimer this is also the reason why `HomalgProject` fails its tests on [oscar-ci-status-stable](https://oscar-system.github.io/oscar-ci-status-stable/) as its forced to use this old version of `Singular` dictated by the current released version of `Oscar`.

[2020-09-23 11:28] rbehrends commented on #272
@mohamed-barakat Yeah, we had a separate issue with the GAP Digraphs package, but that was due to something server-related (and fixed in the meanwhile). I'm not positive that it's necessarily Singular.jl old that's a problem for HomalgProject.jl, but there seems to be a version issue with doctests, as the doctest errors disappear in the dev version. Generally, some of the package versions of depen

[2020-09-23 11:31] rbehrends commented on #272
There is also an error with v0.4.1, though that's a different one:

[code]

[2020-09-23 11:40] thofma commented on #272
Same architecture? Can you update the OP with julia version and Pkg.status?

[2020-09-23 11:41] thofma commented on #272
PS: The fact that OSCAR.jl is using an old version of Singular.jl is not a Singular.jl issue.

[2020-09-23 12:38] fingolfin commented on #272
@fieker we really really need to make an OSCAR.jl release.

[2020-09-23 16:30] alexej-jordan opened #273 "Custom orderings for polynomial rings"
I want to execute the following `Singular` command in `Singular.jl`:
[code]
I know how to translate the majority of this command resulting in
[code]
Now, the ordering is still not correct. The docs state that there are several `Symbol`s which can be given, but these do not cover this case. Is it right to assume that the corresponding support is not contained in `Singular.jl` (yet)?

[2020-09-23 21:16] wbhart commented on #273
That is correct at this point in time.

We may need to support *construction* of polynomials with this ordering in MPoly.jl in AbstractAlgebra.jl to make this possible. This is feasible, but not there currently.

[2020-09-23 23:39] alexej-jordan commented on #273
Thank you for your response

[2020-09-24 05:25] fieker commented on #273
On Wed, Sep 23, 2020 at 04:39:27PM -0700, alexej-jordan wrote:

Actually, it depends on what you want to do. In Oscar.jl it is possible
to take any MPoly, and get the leading coeff and iterate the monomials
wrt any weigt ordering.

[2020-09-24 05:54] fieker commented on #273
The core question is: what do you want to compute? In Oscar there might be a non-singular way of achieving what you want...
We already support (looking at the code)
  coeffs, exponent_vectors, monomials, terms, leading_(term,coeff,monomial,ideal) wrt to any ordering, including random weights
However, the ring with this ordering we do not have.

[2020-09-25 14:26] hannes14 commented on #272
The bug with the String operation in parselib.jl (https://github.com/oscar-system/Singular.jl/issues/272#issuecomment-697304480)
was caused by a bug in libparse, fixed with https://github.com/Singular/Singular/commit/e6e50337e6f4b660421f7bbe12224078ee14afca

[2020-09-29 22:40] fingolfin commented on #272
Updating Singular.jl with the fix in Singular is currently stalled (see <https://github.com/JuliaPackaging/Yggdrasil/pull/1718>). I hope that it can be unblocked soon, though (once Yggdrasil is update to a more recent BinaryBuilder development version.

[2020-10-04 14:26] mohamed-barakat commented on #270
This issue is now resolved with `Singular_jll v4.1.3+5`. I will close it.

[2020-10-04 14:26] #270 closed

[2020-10-04 14:57] mohamed-barakat opened #274 "Slower factorization"
Now that #270 has been resolved step 8 of [this notebook](https://github.com/homalg-project/CapHomalgNotebooks/blob/master/uMPS(2%2C2%2C4)_0dim.ipynb) is running very slow.

It used to take less than 15 seconds before switching to `Singular_jll`. I am quite sure the problem is a significantly slower computation of radicals due to much slower factorization.

[2020-10-04 21:30] fingolfin commented on #274
Step 8 is `im = ConstructibleImage( ϕ )` ? Can you perhaps reduce that example to an invocation of Singular and/or Singular.jl (assuming you use that)?

[2020-10-05 19:02] mohamed-barakat opened #275 "Error during initialization of module `Singular_jll` on Julia 1.4 - macOS-latest - x64"
The following GitHub test

https://github.com/homalg-project/HomalgProject.jl/pull/64/checks?check_run_id=1210910822

fails for the reason

[code]

[2020-10-05 20:26] fingolfin commented on #275
Yes, this is the same issue we had with GMP_jll just now with MPFR_jll... I am aware of it and will take care of it tomorrow.

[2020-10-05 21:44] mohamed-barakat commented on #275
Good, thanks Max.

[2020-10-06 09:02] fingolfin commented on #275
See https://github.com/JuliaPackaging/Yggdrasil/pull/1748

[2020-10-06 09:03] fingolfin commented on #272
This should be fixed in the latest Singular_jll (but beware, that one still has an issue on macOS; see https://github.com/JuliaPackaging/Yggdrasil/pull/1748 for a fix)

[2020-10-07 14:47] fingolfin commented on #275
We just released a fresh Singular_jll, please give it a try (required a fix to https://github.com/JuliaPackaging/BinaryBuilderBase.jl/issues/45 which I made in https://github.com/JuliaPackaging/BinaryBuilderBase.jl/pull/51 ... )

[2020-10-07 15:04] mohamed-barakat commented on #275
Thank you very much. The test is still failing:

https://github.com/homalg-project/HomalgProject.jl/pull/64/checks?check_run_id=1221096737

[2020-10-07 15:11] fingolfin commented on #275
That build did not use the latest Singular_jll -- can you try once more?

[2020-10-07 15:15] fingolfin commented on #275
Ah no wait a bit longer -- of course https://github.com/JuliaRegistries/General/pull/22524/files still needs to be merged first

[2020-10-07 15:23] mohamed-barakat commented on #275
I was reluctant to write shall I wait a bit longer not to be misunderstood 😂

[2020-10-07 16:02] fingolfin commented on #275
No try again

[2020-10-07 16:07] mohamed-barakat commented on #275
Worked:

https://github.com/homalg-project/HomalgProject.jl/pull/64/checks?check_run_id=1221311051

Thank you very much, Max.

[2020-10-07 16:07] #275 closed

[2020-10-13 07:17] rfourquet commented on #57
This seems to be fixed?

[2020-10-13 09:47] wbhart commented on #57
I don't recall. Does it seem to give the right answer now? I do recall explaining how to fix it. And Andreas wrote something.

[2020-10-13 09:54] rfourquet commented on #57
I didn't check if this gives the right answer, but at least it doesn't error:
[code]

[2020-10-13 10:08] rfourquet opened #280 "Finite fields are not subtypes of AbstractAlgebra.FinField"
This prevents using Singular finite fields in methods expecting a finite field (e.g. `rand` defined in `Nemo`).

Currently, there is
[code]
Should we have
[code]
and then use `SingularField` instead of `Field` when appropriate?

[2020-10-13 10:13] wbhart commented on #57
Then we close the ticket.

[2020-10-13 10:13] #57 closed

[2020-10-13 10:15] wbhart commented on #280
You'll find this problem everywhere in Singular due to the lack of multiple inheritance. If you can come up with something better that still passes the tests, go for it.

[2020-10-13 10:15] rfourquet opened #281 "crt is broken"
[code]

I gave up after trying to fix that for one hour. If no-one knows how to get `libSingular.n_ChineseRemainderSym` working, we should either delete/hide the current buggy version, or implement it by converting first the arguments to `Nemo.fmpz`.

[2020-10-13 10:21] wbhart commented on #281
@hannes14 should be able to help fix this.

[2020-10-14 10:55] mohamed-barakat commented on #274
Yes

Yes, I will try to isolate it to a Singular call.

[2020-10-14 12:19] mohamed-barakat commented on #274
The last line of the attached file

[code]

runs in less than a second with the standalone Singular (https://github.com/Singular/Singular/commit/d51aaf5d031f0fee4b8bedcebd3047a50c8cebe1)
[code]

However, using the Singular within Singular.jl (or the binary `~/.julia/artifacts/10a4a3842417ad1c768c82c3bcc91c1a93576c37/bin/Singular`)

the computation time increases significantly.

[SlowRadical.txt](h

[2020-10-16 08:16] mohamed-barakat commented on #274
For the record: This is the reason why the notebook `uMPS(2,2,4)_0dim` is running out of time [here](https://oscar-system.github.io/oscar-ci-status/index.html).

[2020-10-16 14:04] #80 closed

[2020-10-22 14:49] #86 closed

[2020-10-23 13:18] #271 closed

[2020-10-23 15:00] fingolfin commented on #274
So Dan just told me that Flint can handle this factorization very quickly. The problem is to hook it up into Singular, and also to adjust the Singular test suite (it works a bit like the on in GAP, i.e., it compares printed output of operations; but using a different factorization algorithm may return factors in a different order, which then implies that test results may look differently. But all

[2020-10-23 15:08] fingolfin commented on #272
@rbehrends @mohamed-barakat can you please check if this is still an issue? It shouldn't be; it works for me on momo64.mathematik.uni-kl.de

It does *not* work on ARM32 right now, but that's because various binaries (including for Julia and CxxWrap...) are missing there.

[2020-10-23 16:55] mohamed-barakat commented on #272
I am not aware of this being an issue anymore.

[2020-10-29 12:41] hannes14 commented on #274
Singular is now adapted to use Flints multivariate factorization (if available). To use this in Singular.jl/Oscar.jl we need
a libflint_jll with the new, not yet released Flint 2.7.0, and a libsingular_jll which uses this libflint_jll.

[2020-10-30 11:24] rfourquet commented on #188
I think this is solved (the snippets in the OP don't error out on the master branch).

[2020-10-30 14:01] thofma commented on #188
OK, let's close this.

[2020-10-30 14:01] #188 closed

[2020-10-30 20:33] #272 closed

[2020-10-31 11:50] pogudingleb opened #294 "Factorization bug (?)"
Good morning/afternoon!

The following code

[code]

prints the product (unfactored) for both `println`'s.
I am using Julia 1.5.2, Singular.jl 0.4.1.
I wonder whether this is the expected behavior.

Thank you in advance!

Best regards,
Gleb

UPD: Tried the same polynomials in SageMath (v9.1) which shoul use Singular. Everything was fine.

[code]

[2020-11-12 09:03] fingolfin commented on #294
@hannes14 @tthsqe12 can you please take a look at this?

[2020-11-12 11:40] tthsqe12 commented on #294
Can confirm: println(factor(q * r)) takes a long time to report the (wrong) answer. This is probably a bug in the ntl-less singular.
I have just opened a pr https://github.com/wbhart/flint2/pull/852 which essentially finishes factoring (modulo the inevitable bug fixes and performance tunings).

[2020-11-25 08:12] fingolfin commented on #281
@hannes14 what is the status of this? have you had a look at it?

[2020-11-25 08:13] fingolfin commented on #249
This should be resolved now, thanks to a new CxxWrap release

[2020-11-25 08:13] #249 closed

[2020-11-25 08:56] fingolfin commented on #181
This has been resolved by the moved to JLLs

[2020-11-25 08:56] #181 closed

[2020-11-25 08:57] fingolfin commented on #59
@ThomasBreuer do you know what the status of this issue is?

[2020-11-25 09:42] ThomasBreuer commented on #59
There is `dimension` for computing the Krull dimension of the quotient of a polynomial ring by an ideal, and substitutions can be computed with `evaluate`; at the moment I do not see how to get the `minbase` functionality.

[2020-11-25 09:57] fieker commented on #281
If I had to hazard a guess: wrong input. In Singular, crt is done on coefficients of polynomials, hence, I'd expect the input to be 2 polys and 2 ints...

[2020-11-25 10:09] fieker commented on #59
What is the goal? In Oscar we have
function vector_space(K::AbstractAlgebra.Field, e::Array{T, 1}; target = nothing) where {T <: MPolyElem}

which will give the VS generated by the polynomials.
In Oscar/examples is
function Oscar.monomials(R::MPolyRing, d::Int)

is the goal to re-write the .lib in Singular.jl or  in Oscar? minbase looks difficult as it seems to be also affected by global variables

[2020-11-25 10:45] hannes14 commented on #59
degBound affects all Groebner base computaions in Singular, not only minbase:
if your ideal is homogeneous, a partial GB (up toi degree degBound) is returned.
This can save you time IF you know that the result has at most degree degBound.
Not setting7using degBound willl also return the correct result, but needs mor time.

[2020-11-25 11:12] #268 closed

[2020-11-25 13:20] #236 closed

[2020-11-25 13:49] fingolfin commented on #239
I can still reproduce the initial problem. The final example which was crashing is still running here (so far no crash, but perhaps it'll run out of memory or something like that).

@hannes14 could you have a look at why `std` might return something wrong?

[2020-11-25 13:50] fingolfin commented on #219
Haven't seen this for a long time, so ...

[2020-11-25 13:50] #219 closed

[2020-11-25 13:52] fingolfin commented on #187
@tthsqe12 is this still something you are looking into?

[2020-11-25 13:57] tthsqe12 commented on #187
It is on my todo list. However, it is a deep issue I think, and I am not sure what the best way to solve it is.

[2020-11-25 21:58] fingolfin commented on #167
This test currently passes

[2020-11-25 21:58] #167 closed

[2020-12-02 15:14] fieker opened #308 "double definition"
julia> using Revise, Oscar
[ Info: Precompiling Oscar [f1435218-dba5-11e9-1e4d-f1a5fab5fc13]
..
WARNING: Method definition convert(Type{Nemo.fmpz}, Singular.n_Z) in module Singular at /home/fieker/.julia/dev/Singular/src/number/n_Z.jl:375 overwritten in module Oscar at /home/fieker/.julia/dev/Oscar/src/Rings/mpoly.jl:190.
  ** incremental compilation may be fatally broken for this module **

WARNI

[2020-12-07 12:26] wbhart opened #311 "Modules are created from ideals without calling the correct function"
For example Singular.jl/src/module/module.jl line 192

This should be done using id_Matrix2Module (see the comments on PR #310)

In any event, the same pointer should not be in two Singular.jl objects!

[2020-12-07 12:28] wbhart opened #312 "Functions taking Singular .ptr's should be annotated as not being user functions"
Some functions in Singular.jl create a new Singular.jl object from an existing Singular pointer. These are only for creating Singular.jl objects from newly minted (or copied) Singular objects. They are not for users and should not be used except in these cases.

This should be documented with a comment immediately before all such functions in the library to prevent confusion.

[2020-12-09 12:06] rfourquet commented on #308
I don't know of a good way of fixing that (and I asked on Julia's slack, without getting a solution). I can think of either:
1. release a new Singular version, and make Oscar depend on it (and make it require this latest Singular.jl release)
2. define a `Singular.version()` function, like in `Nemo`. Then we can guard these pirate definitions in Oscar within a Singular version check (`if isdefined(

[2020-12-09 12:12] fieker commented on #308
On Wed, Dec 09, 2020 at 04:06:48AM -0800, Rafael Fourquet wrote:

We're working on this. Probably have a release later today.

Singular.VERSION_NUMBER

The julia dev are deliberately against. You should state what you need
and let julia worry about it.

[2020-12-09 12:19] rfourquet commented on #308
Ok then! Let me know if I can help with something.

[2020-12-17 16:52] JuliaTagBot opened #315 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-17 16:52] #315 closed

[2020-12-20 15:16] mohamed-barakat opened #316 "How to convert a matrix into a module?"
In Singular several commands accepts either modules or matrices as input. In fact, modules, are a sort of column-oriented sparse matrix data structure. Now that I want to use the "Groebner basics" `std`, `syz`, `lift`, `lift_std`, `modulo` located in `src/module/module.jl` the input must be a module (i.e., type `smodule`).

1. Is there a way to install such methods for matrices? and/or
2. Is it po

[2020-12-20 15:30] wbhart commented on #316
I'm not sure 1 makes mathematical sense. But I believe the Singular library has a way to do 2, so that should be possible.

[2020-12-20 15:39] mohamed-barakat commented on #316
I would even argue that a GB needs explicit submodule generators as input. This data structure is called a matrix (either column- or row-oriented) ;)

[2020-12-20 19:33] wbhart commented on #316
@fieker has opinions on that. I believe this would be a list of generators, rather than a matrix, but yeah, something like that.

[2020-12-20 21:48] mohamed-barakat commented on #316
The GB algorithm over multivariate polynomial rings (k[x,y,...]) specializes to the Gaussian NF (over field k) and the Hermite NF (over a univariate polynomial ring k[x]). And in these two special cases, one usually uses the matrix and not the module language. One only needs to distinguish if the action is on rows (REF) or on columns (CEF). Singular chose the variant which acts on columns, while G

[2020-12-20 22:03] mohamed-barakat commented on #316
As one can see here, there are reasons (in fact many) why one would need to convert `smodule` into a matrix

https://oscar-system.github.io/Singular.jl/latest/module/#Free-resolutions-1

implying that the converse is also true.

[2020-12-21 10:37] fingolfin opened #317 "Actually include docstrings into manual"
Running documenter on the manual currently produces a bunch of warnings about docstrings that are not included in the manual. We should probably fix those.

[code]

[2020-12-21 13:26] wbhart commented on #316
We certainly have one direction already.

As for the "mathematical sense" thing, I just mean that a matrix is not mathematically defined to be a set of submodule generators. Of course the latter can be thought of as the former and one can represent the latter using the former as a data structure (and there are good reasons to do so). But regardless of what the internal representation is, the quest

[2020-12-23 01:12] fingolfin commented on #308
I think this has been resolved already with the Singular.jl 0.4.2 release? @fieker?

[2020-12-23 01:14] fingolfin commented on #274
With PR #321 this runs in less than 0.1 seconds for me.

[2020-12-23 01:39] #274 closed

[2020-12-23 01:39] #294 closed

[2020-12-25 13:17] mohamed-barakat opened #322 "Singular.jl@master display `1*x1` instead of the usual behavior `x1`"
[code]

[2020-12-25 13:42] thofma commented on #322
Will be fixed by #323 (after we have figured out some other things).

[2020-12-25 14:09] mohamed-barakat commented on #322
Thank you very much. Then you are free to close this issue earlier.

[2020-12-25 15:58] mohamed-barakat opened #324 "There is no direct way to construct a Singular matrix"
In order to construct a matrix of type `smatrix` one first needs to construct the data structure `smodule` by first constructing an array of `svector`s and finally calling `Singular.Matrix` on the resulting `smodule`. The "vectors" will then be the columns of the resulting matrix.

[2020-12-26 10:15] thofma opened #326 "Coercion from BigInt to spoly{n_Zn} broken"
Coercion produces garbage:
[code]

It works if one uses only the residue ring:
[code]
The problem must be in the following function https://github.com/oscar-system/Singular.jl/blob/b64e3f1b5f8f8b8d5d89bad4d6fc61d4dd4b01c6/src/poly/PolyTypes.jl#L133-L140

[2020-12-27 15:04] mohamed-barakat commented on #324
I figured out how to do it using PR #325. The following code will be added to `RingsForHomalg` as it is customized to the way `homalg` uses Singular. If any part of it is of general interest I am happy to prepare a PR:

[code]

[2020-12-27 15:04] #324 closed

[2020-12-30 02:09] mohamed-barakat opened #328 "different behavior for polynomial ring constructor depending if univariate or multivariate"
[code]

[2020-12-30 02:31] wbhart commented on #328
Singular doesn't have univariate polynomials. The issue here is that you are not passing a tuple for the second part of the return value. In Julia a tuple of length one would be `x,` not `x`

[2020-12-30 02:52] mohamed-barakat commented on #328
Thank you very much Bill. This resolves the issue for me.

[2020-12-30 02:52] #328 closed

[2021-01-04 12:06] #322 closed

[2021-01-04 14:45] #316 closed

[2021-01-06 08:17] fingolfin opened #338 "Refactor `convert_return_value`"
This function currently relies on "converting" all kinds of C++ data to Julia via code of the form `R(cxx_obj)` (or variants thereof), where `R` is a Singular ring. But this is ambiguous, as e.g. polynomials and vector use the same trick.

To resolve that ambiguity, there are special entries in `casting_functions_pre`; relevant for the example of polynomial vs. vector are these:
[code]

Key for th

[2021-01-06 13:08] fingolfin opened #340 "Manuals for release are missing"
Looking at https://oscar-system.github.io/Singular.jl/latest/index.html it only offers "dev" as release but there are no docs for v0.4 etc.

Comparing https://github.com/oscar-system/GAP.jl/tree/gh-pages and https://github.com/oscar-system/Singular.jl/tree/gh-pages shows that GAP.jl has all old versions, while Singular.jl only has a dev manual.

What's going on there?!? Anybody have an idea?

[2021-01-06 16:28] fingolfin commented on #340
OK I think this was caused by using an outdated Documenter.jl (fixed in #318) which did not support GitHub Actions yet; well, at least for the 0.4.2 release that was the cause (see https://github.com/oscar-system/Singular.jl/runs/1573876960?check_suite_focus=true).

We'll find out more when the next release is made.

[2021-01-07 00:23] fingolfin commented on #340
Indeed, this is now fixed; https://github.com/oscar-system/Singular.jl/tree/gh-pages carries a subdir for 0.4.3

[2021-01-07 00:23] #340 closed

[2021-01-07 00:47] fingolfin opened #344 "Regression: libraryfuncdictionary.jl regeneration can invalidate precompilation results"
Since 05f0a1886facd4dc899660e2a315b769a98f2fbd from PR #303 we regenerate `libraryfuncdictionary.jl` during precompilation, which works nicely.

Except that when you use Singular.jl in Julia version A (say 1.4), and then use it again version B (say 1.5), it will precompile it again. Each time you switch Julia versions, it precompiles! That's an annoying regression. The obvious cause seems to be th

[2021-01-07 10:45] #344 closed

[2021-01-08 23:25] fingolfin commented on #326
Turns out this is caused by a bug in Singular which @hannes14 fixed in https://github.com/Singular/Singular/commit/7234fd1a537971f2cbb4cd784dd3021e3d533776. I will look into updating Singular_jll...

[2021-01-11 05:15] wbhart commented on #317
On Mon, 21 Dec 2020 at 11:37, Max Horn <notifications@github.com> wrote:

function. We provide generic functionality for this via AbstractAlgebra,
under for example evaluation. It would make sense to implement such a
function in AbstractAlgebra generically though. But I'm uncertain if we
want to implement the interface like this. So this is very definitely
provisional from memory.

It was never of

[2021-01-11 05:52] wbhart commented on #114
This still returns the wrong answer in the latest version of Singular.jl, v0.4.2 (I am using Julia 1.3.1 on WSL).

[2021-01-11 06:09] wbhart commented on #114
The current implementation of syMinimize in libsingular_julia in https://github.com/oscar-system/libsingular-julia/blob/master/singular.cpp is:

[code]

The implementation of syMinimize in https://github.com/oscar-system/Singular.jl/blob/master/src/libsingular/resolutions.jl is

[code]

Therefore the reason given in the original report for the bug seems to be incorrect. As far as I can see we retu

[2021-01-11 07:17] fieker commented on #317
Some of this is also related to the question as to what Singular.jl
actually is meant to be:
 - a low level interface to singular: then e.g. lift_std should be
   called just that as every singular person will understand (and
   similar names/ conventions, including the singular poly eval, permute
   var...)
 - closely aligned to Oscar: lift_std as a name makes no sense,
   std_with_transform or s

[2021-01-11 07:23] wbhart commented on #317
There also seems to be some duplication between this issue and https://github.com/oscar-system/Singular.jl/issues/145 which I opened ages ago.

[2021-01-11 10:42] rfourquet commented on #317
We can instruct documenter to not complain via the `checkdocs` keyword of `makedocs` (e.g. `checkdocs=:exports` complains only when the function is exported, and `checkdocs=:none` never complains).

[2021-01-11 11:16] hannes14 commented on #114
Singular.method("syMinimize", [](syStrategy ra, ring o) {
        const ring origin = currRing;
        rChangeCurrRing(o);
        syStrategy result = syCopy(ra); // increments a ref count
        syMinimize(result); // check if result->minres is set, compute and set it if not
        rChangeCurrRing(origin);
        return result;
    });

This routine does not create a new, minimal resolution,

[2021-01-11 11:22] wbhart commented on #114
Does it copy fullres into minres if it is already minimal? If so, our code should work.

At any rate I guess the solution will be to add get_minimal_res to libsingular.jll and then change the way we handle resolutions.

[2021-01-11 11:25] hannes14 commented on #114
Am Mon, Jan 11, 2021 at 03:22:31AM -0800 schrieb wbhart:

The check is simply checking the part minres==NULL - if so,
compute the minimal resultion, which may be equal to the part fullres.

[2021-01-11 11:33] wbhart commented on #114
Right, but the syMinimize function always sets that back to NULL after use, so it should always be NULL before asking for a minres. So I don't see what is going wrong, actually.

[2021-01-11 12:58] tthsqe12 opened #349 "crash on fractions over Nemo"
If singular is unable to calculate this, then we should catch this before it crashes.
[code]

[2021-01-11 13:00] wbhart commented on #114
@hannes14 Am I right that omAlloc0 sets everything in temp to 0? If so, then ->minres should always be NULL before Singular's syMinimize is called.

Also, is it suspicious that the call the syMinimize doesn't pass the ring? I'm not even sure what it is calling at that point.

[2021-01-11 13:03] tthsqe12 opened #350 "method error on fractions"
[code]

[2021-01-11 13:04] wbhart commented on #349
Seems to be calling out to factory for gcd, which is segfaulting
in _Z13p_InitContentP8spolyrecP8ip_sring at
/home/wbhart/.julia/artifacts/1e70cd942f1bb941f2cea53c586a5024e04eb261/lib/libpolys.so

On Mon, 11 Jan 2021 at 13:59, tthsqe12 <notifications@github.com> wrote:

[2021-01-11 13:05] wbhart commented on #349
Here is what happens if you call gcd directly:

[code]

On Mon, 11 Jan 2021 at 14:04, Bill Hart <goodwillhart@googlemail.com> wrote:

[2021-01-11 13:21] wbhart commented on #350
Replacing coeff(a, 0) on line 229 of src/poly/poly.jl with first(coeffs(a)) will fix the problem (there is no coeff function for Singular polynomials, which use iterators instead for performance reasons). However, I am not sure if it will give the answer you like as the numerator gets canonicalised to x/3 and the denominator to 1. That makes sense though if you consider a more complex example, lik

[2021-01-11 14:32] hannes14 commented on #114
Yes, omalloc0 returns a memory block filled with 0.
Then the function syMinimize from https://github.com/oscar-system/Singular.jl/blob/master/src/libsingular/resolutions.jl creates a new (empty) resolution, copies the fullres part from th input,
computes the minimal resolution and return this (array of ideal). temp is removed at the end.

[2021-01-14 09:13] fingolfin commented on #326
Actually now that I have had a chance to update Singular_jll to include that fix, it turns out that that this wasn't really the issue. There is something else going on.

(As a side note, while looking into this I discovered that there is an appalling amount of allocations being done for every use of CxxWrap... there are invocations that really should boil down to a simple `ccall` into Singular, wh

[2021-01-15 11:28] wbhart commented on #114
Then why doesn't it work?

[2021-01-18 10:13] pogudingleb opened #357 "Segfault on Google Colab"
I thought it would be great if one could use Singular.jl (and Oscar in general) on [Google Colab](https://colab.research.google.com/notebooks/intro.ipynb#scrollTo=GJBs_flRovLc). However, I have encountered the following problem while trying to use Singular.jl there. I do the following:
1. Take the [sample julia notebook](https://colab.research.google.com/github/ageron/julia_notebooks/blob/master/J

[2021-01-18 10:47] wbhart commented on #357
It segfaulted inside libc? That's odd.

How much memory is available on an instance there?

[2021-01-18 10:54] hannes14 commented on #357
Am Mon, Jan 18, 2021 at 02:48:07AM -0800 schrieb wbhart:

It segfaults in malloc_usable_size, a function which depends
on the current amlloc implementation: maybe, malloc and free are
overloaded, but malloc_usable_size not?

[2021-01-18 10:55] pogudingleb commented on #357
There is 12 GB RAM, should be enough, I guess

[2021-01-20 12:51] tthsqe12 opened #359 "solutions to factoring over number fields"
Singular.jl still cannot factor over Q(alpha). The best solution seems to be:
- at Singular.jl initialization, get a function pointer to the corresponding julia function, and
- tell singular about this function pointer with a new singular kernel function (require coordination with @hannes14 )
We need to intercept the polynomial before it gets to factory, because we can't do anything with it from j

[2021-01-22 15:43] fingolfin commented on #357
Can you please tell us the output of the following Julia script on your host?
[code]
That might give a clue.

[2021-01-22 15:43] fingolfin commented on #349
@hannes14 can you please have a look at this crash?

[2021-01-22 16:54] pogudingleb commented on #357
Here it is

[code]

[2021-01-23 02:07] fingolfin commented on #357
Hmm, indeed. Plots.jl and IJulia pull in tons and tons of packages, and JLLs; perhaps one of them does something funky with malloc -- but that'd be super evil. In any case, that would then suggest that one should be able to replicate the issue by installing those packages before trying to install/use Singular. However, I was not able to do so on two different Linux machines.

@pogudingleb can you

[2021-01-23 02:08] fingolfin commented on #326
The code in question is now https://github.com/oscar-system/Singular.jl/blob/aeac8f346e4e95cc4ea71d2d921f238d212fa004/src/poly/PolyTypes.jl#L119-L123

Unfortunately the issue here persists, even with the latest Singular_jll which is based on https://github.com/Singular/Singular/commit/bad89c24b3352b9c5651915636ed5f2d7766baf9

[code]

It is clearly related to the size of the bigint: the issue crops

[2021-01-25 08:34] pogudingleb commented on #357
Here is what I get
[code]

As I said, I get this behavior not on my machine but in the default environment of Google Colab, so if you would like to reproduce this yourself, you can
1. make a copy of [this notebook](https://colab.research.google.com/github/ageron/julia_notebooks/blob/master/Julia_Colab_Notebook_Template.ipynb)
2. change `JULIA_VERSION` to 1.5.3
3. install Singular.jl
In any case, s

[2021-01-29 00:11] fingolfin commented on #125
I've implemented this some time ago (without being aware of this issue). There are links in the README.md now to https://oscar-system.github.io/Singular.jl/dev/ and https://oscar-system.github.io/Singular.jl/stable/

[2021-01-29 00:11] #125 closed

[2021-01-29 00:12] #308 closed

[2021-01-29 00:21] fingolfin commented on #101
Libraries have been supported for some time now. Just recently, a function `radical()` was added to Oscar.jl in https://github.com/oscar-system/Oscar.jl/pull/227 -- you can look there to see how to do it in "pure" Singular.jl, should you prefer that. (Assuming you still care, after almost 2 years... :-( )

[2021-01-29 00:21] #101 closed

[2021-01-29 09:56] #50 closed

[2021-01-29 16:26] tthsqe12 opened #368 "bad behaviour wrt division by zero"
The first error message is fine with me. The lack of error messages for the next two is not fine.
[code]

[2021-02-01 12:37] hannes14 commented on #368
Should be fixed with https://github.com/Singular/Singular/commit/19ee5eb33e0ea7b7b2733aee435dc677eb23f478
Now, beside the error message, always a 0 is returned in this case.

[2021-02-01 12:51] hannes14 commented on #349
p_InitContent should not be used on Nemo coeffs types, changed with
https://github.com/Singular/Singular/commit/4218c13e2434358d0a056b78d0a40377a11bcdb1

[2021-02-01 12:52] tthsqe12 opened #370 "How to handle errors from singular"
We need to consistently catch and handle the errors from singular. Quoting @hannes14

(checked an reset by the interpreter) and calls the function pointer WerrorS_callback with astring (the error message).

[2021-02-01 13:34] tthsqe12 opened #371 "parent checks in arithmetic"
It looks like parent checks were not inserted in any(?) of the methods of number arithmetic. This is obviously needed.
[code]

[2021-03-04 16:44] thofma opened #378 "Libraries are missing, e.g. dmodideal.lib"
I don't know why, but dmodideal.lib is missing. This is a PLURAL library, but for example dmod.lib or dmodapp.lib are also and they are contained. Any idea why this library could be missing? @hannes14 @tthsqe12

P.S.: At the moment we are using the binaries from here: https://github.com/JuliaBinaryWrappers/Singular_jll.jl/releases/tag/Singular-v402.0.101%2B0

CC: @johannes-hoffmann

[2021-03-05 08:39] thofma commented on #378
P.S.: This is our build script https://github.com/JuliaPackaging/Yggdrasil/blob/master/S/Singular/build_tarballs.jl.

[2021-03-05 08:48] fingolfin commented on #378
Sounds like it might be a bug in the `make install` target of Singular, which does not install those -- likely a matter of adding those files to the right `*_DIST` Makefile variables

[2021-03-05 08:49] fingolfin commented on #378
Maybe @hannes14 has some insights?

[2021-03-05 09:01] tthsqe12 commented on #378
This file has all of the other dmod stuff but no dmodideal
https://github.com/Singular/Singular/blob/spielwiese/Singular/singular-libs

[2021-03-05 09:46] hannes14 commented on #378
fixed with https://github.com/Singular/Singular/commit/944ec187afb4771589952c938c050b0c3f99217b

[2021-03-05 10:17] thofma commented on #378
Singular tests are failing according to CI for https://github.com/Singular/Singular/commit/944ec187afb4771589952c938c050b0c3f99217b.

Which commit should we use?

[2021-03-05 10:21] hannes14 commented on #378
0a3a24882d6675f96135dd79796fcea48770e901

[2021-03-06 12:43] thofma commented on #378
Fixed by #380

[2021-03-06 12:43] #378 closed

[2021-03-06 12:45] thofma opened #382 "Singular prints unwanted verbose output"
A simple function call makes my terminal fill up with:
[code]
Is there a way to silence Singular?

[2021-03-06 15:41] hannes14 commented on #382
while initializing libSingular,
 si_opt_2 &= ~(Sy_bit(V_QUIET)|Sy_bit(V_LOAD_LIB));

[2021-03-08 17:19] thofma opened #383 "? Dynamic modules are not supported by this version of Singular"
[code]
Can we make this work? @tthsqe12 @hannes14

CC: @johannes-hoffmann

[2021-03-08 17:19] thofma opened #384 "? Dynamic modules are not supported by this version of Singular"
[code]
Can we make this work? @tthsqe12 @hannes14

CC: @johannes-hoffmann

[2021-03-08 17:32] hannes14 commented on #384
Dynamic modules of Singular do not work within julia (it would require to load libSingular.so with RT_GLOBAL, which probably conflct with julia.)
As an alternative, one can have a FIXED SET of modules:
add "--with-builtinmodules=..." as additional argument to configure of Singular.
A good starting point would be:
--with-builtinmodules=gfanlib,syzextra,customstd,interval,subsets,loctriv,gitfan,free

[2021-03-08 17:44] thofma commented on #384
Thanks @hannes14. Works locally for me. New binaries are under way here: https://github.com/JuliaPackaging/Yggdrasil/pull/2660.

[2021-03-09 08:14] #384 closed

[2021-03-11 13:16] ianqsong opened #386 "power error"
[code]
why `DivideError` where no division?

[2021-03-11 21:29] fingolfin commented on #383
This has been resolved now I believe

[2021-03-11 21:29] #383 closed

[2021-03-11 21:31] fingolfin commented on #386
I can't reproduce this.

Can you tell us the output of `versioninfo()` and of `using Pkg; Pkg.status(mode=PKGMODE_MANIFEST)`

[2021-03-11 22:14] fingolfin commented on #349
This doesn't crash anymore; we now get this:
[code]

Which I assume is OK and the issue can be closed?

[2021-03-11 22:16] fingolfin commented on #368
@hannes14 the commit you mention is now included in the Singular used by Singular.jl, but this crash still happens anyway.

Also, that ` (x-x)//(y-y)` returns 0 still is weird, not to say: wrong, isn't it? 0/0 should raise an error...?

[2021-03-11 22:53] ianqsong commented on #386
I reproduced it in a new REPL session (julia 1.5.3)
[code]

[2021-03-11 23:02] fingolfin commented on #386
Can you please provide the information I asked for? Thank you!

[2021-03-11 23:06] fingolfin commented on #386
OK sorry, I can reproduce it now !

[2021-03-11 23:19] fingolfin commented on #386
To explain, I was testing in Julia 1.6.0-rc1, where everything works! But when you said that you are using 1.5.3 I tried with that, and there both examples produce this error. Strange.

Looking closer, I see this in the Singular code base, in `libpolys/coeffs/modulop.cc:392`:
[code]
So... no value for `r->cfPower` is set. As such, I don't even understand how `n_Power` can possibly work, it should

[2021-03-12 08:20] hannes14 commented on #386
Am Thu, Mar 11, 2021 at 03:20:00PM -0800 schrieb Max Horn:

in libcoeffs/coeffs/number.cc, line 390 r->cfPower is set to ndPower (a
generic implmentation via n_Mult), which may be overwritten by a
specific power routine - which is missing here: for Z/pZ the genric
implmentation seems to be better. This explains that no NULL pointer
occurs here,
but the only division in ndPower is the division by 2

[2021-03-12 09:24] thofma commented on #349
No, I don't think this error is OK.
https://github.com/oscar-system/Singular.jl/blob/09e29618e82813b726e66848c266676aafd819b8/src/poly/poly.jl#L217
This should probably be the leading coefficient. @tthsqe12

[2021-03-12 09:30] tthsqe12 commented on #349
The error is ok because there is a separate issue for it #350

[2021-03-12 09:30] #349 closed

[2021-03-12 09:49] tthsqe12 commented on #386
I can reproduce this as well on 1.5.3.

[2021-03-12 10:03] tthsqe12 commented on #386
It looks like the integer division error is occurring in cxxwrap while it is constructing the function call (before it gets to singular), i.e. not singular's fault, nor singular.jl's fault.

[2021-03-12 10:18] wbhart commented on #386
If you can produce a minimal example, it is worth reporting here [1]. The maintainer (barche?) has been extremely responsive and supportive when we have found issues in the past. It may of course still take (quite) some time for them to fully resolve, test, bundle with other fixes and put into a release.

It could also be a Julia bug of course, though I imagine they would be best placed to determi

[2021-03-12 10:27] fingolfin commented on #386
OK, important clue, that I didn't understand right first: This works fine for me, in Julia 1.5.3:
[code]
This however results in an error:
[code]

So the fact that we first construct that field extension plays a role somehow. For now, that makes me strongly suspect our code, I'd look a bit more there before bothering Bart (author of CxxWrap)

[2021-03-12 10:28] tthsqe12 commented on #386
It is quite weird. This is consistent:
[code]

This is also consistent:
[code]

This is also consistent:
[code]

which make me thing it our problem.

[2021-03-12 10:38] hannes14 commented on #386
Singular caches coefficient fields, and should consider
Fp(5) and Fp(5,1,"w") equal, but there are not really equal in Singulars
implwmentation (one possibiliy) - I will look into this.
Other possibility: element of Fp(5) are in Siungular simply int,
elementf of F(5,1,"w") are polynomials(pointer) - maybe the conversions is wrong?

[2021-03-12 10:44] tthsqe12 commented on #386
Thanks for the insight. It is looking more like our fault.

[2021-03-12 11:30] tthsqe12 commented on #386
@wbhart Did the FiniteField constructor ever work in Singular.jl for degree 1 extensions? The test code does not test this...

@hannes14 can you have a look at this code https://github.com/oscar-system/Singular.jl/blob/master/src/number/NumberTypes.jl#L243
It may be been written without the knowledge that something type instability is happening in the degree 1 case.

[2021-03-12 12:06] hannes14 commented on #386
I think https://github.com/Singular/Singular/commit/7b8e28f635afde923bf9ebc01c3821ba6d67ece8
fixes the bug.
Here is the story:
- numbers.cc fills generic routines into the field of function pointers
- InitChar for Fp(p,n,"w") starts, overwrites with its routines
- find that it does not handle the case n==1, calls InitChar for Z/pZ
- which overwrite with its routines - so most of the arithmetic wor

[2021-03-12 12:34] tthsqe12 commented on #386
ok.
@fingolfin Any idea why the stack trace in this case starts at the wrong place CxxWrap.jl:618, instead of the correct place in singular?

[2021-03-12 13:08] fingolfin commented on #386
Good catch, @hannes14 !

I've submitted https://github.com/JuliaPackaging/Yggdrasil/pull/2674

@tthsqe12 I can only guess; I think this is because a division by zero CPU/FPU exception is raised, which Julia catches and turns into a Julia exception, but that only "sees" the Julia call stack, not the full C call stack. Unlike a segfault, where we get a full dump of the full function callstack... Ala

[2021-03-12 14:22] ianqsong commented on #386
@all Many thanks for quick response and the fix. very impressed.
Is it ok to close this case now?

[2021-03-12 14:24] tthsqe12 commented on #386
No - nothing is fixed yet. But, it might be fixed soon

[2021-03-12 14:59] wbhart commented on #386
@ianqsong Just to clarify, when they say above that the problem is possibly fixed, they are talking about the C library. This will need to be confirmed by making a new binary for the C library and testing it with the Julia code. Then there will need to be a new release with the fix, if it is indeed actually fixed. Then you should see the problem go away. They will let you know when to try it out,

[2021-03-12 15:23] tthsqe12 commented on #386
So, the situation is not so good on the julia end. We have type type stability so FiniteField(5, 1, "a") != Fp(5) but singular returns the same coeff_ptr for these two guys. This would be fine except that: when I have to construct a `Field` from a coeff_ptr, there are now two possibilities :(  Adding degree one finite fields breaks the test code in unrelated places. :(
The good new is that the deg

[2021-03-12 15:35] hannes14 commented on #386
@tthsqe12: if you want to restore Fp(5,1,"a") from the coeff_ptr, I can add these information.
Should I?
Then Fp(5) and Fp(5,1,"a") will be different.

[2021-03-12 15:37] tthsqe12 commented on #386
No, not yet. I am still musing over the julia code, as I do not fully understand what is going on yet. If I deem a change in singular to be absolutely necessary, I will let you know. However, I suspect that we should and will be able to work around these kind of things.

[2021-03-12 17:09] tthsqe12 commented on #386
@hannes14 I need some clarification on these difficulties first.
First of all my package status.
[code]
Next checkout my debug branch https://github.com/tthsqe12/Singular.jl/tree/check_ff_deg1
and put this is `test1.jl`:
[code]
and put this in test2.jl:
[code]

Now from a clean start of julia do this:
[code]

now restart julia and try this
[code]

test2.jl is behaving as expected. The problem is i

[2021-03-12 17:13] fingolfin commented on #386
Good news: the new Singular binary is now released; so if you run `using Pkg; Pkg.update()` in any Julia environments using Singular, you'll get the fix -- no update to Singular.jl is needed. (Of course that leaves the other related issues @tthsqe12 is pondering, hence I am closing this not yet).

[2021-03-12 17:14] fingolfin commented on #386
(The fix is in Singular_jll v402.0.104+0 in case anyone wonders)

[2021-03-12 17:15] tthsqe12 commented on #386
Ok. I will try my ponderings with the newest singular.

[2021-03-12 17:33] tthsqe12 commented on #386
The update to Singular_jll v402.0.104+0 "fixes" my musing above but my next degree 1 test code still does not work. I will post minimal working example soon.

[2021-03-12 18:02] tthsqe12 commented on #386
Now the problem is that the coefficient field is _sometimes_ coming back from normalize
without a minpoly (i.e. is now a transExt instead of an algExt). In order to
trigger it minimaly, you have to include `test3.jl` twice in a row. This is
strange, but it reliable produces the following bad behaviour on the second run.
Note that I have updated the debug branch with print statements for the other

[2021-03-16 15:04] fingolfin opened #392 "Crash"
The Oscar test suite sometimes crashes inside Singular code; this might hint at a GC issue, or some other bug in our bindings.

See e.g. here: <https://github.com/oscar-system/Oscar.jl/runs/2120333523>. Excerpt:
[code]

[2021-03-17 09:47] thofma commented on #392
Did you every see it on linux?

[2021-03-19 13:22] fingolfin commented on #392
I think I only saw this twice (but I can't find the other one right now), so I'll go with "no" as answer. It might also be a fluke... Then again, that seems not super likely. Perhaps we can re-run the test suite on some machines multiple times to see if it eventually crashes, or not...

[2021-03-19 14:06] fingolfin opened #395 "Initializing a `n_transExt` with an `fmpz` broken in Julia 1.3"
The following works fine in Julia 1.4, 1.5, 1.6, but is broken in Julia 1.3, on both macOS and Linux/Ubuntu. (See also https://github.com/oscar-system/libsingular-julia/pull/17).
[code]

Of course we can just decide that we don't care anymore about Julia 1.3... but I really wonder what might cause this?!

[2021-03-22 10:41] wbhart opened #397 "Implement tail for polys"
See https://github.com/Nemocas/AbstractAlgebra.jl/issues/815

This can likely be done faster for Singular than for other representations.

[2021-03-22 17:10] tthsqe12 commented on #395
The relevant source code is here https://github.com/oscar-system/Singular.jl/blob/master/src/libsingular/coeffs.jl#L209

This is a bug in julia/cxxwrap. Here is what is happening with 1.3:
n_InitMPZ_internal is supposed to get a pointer `ptr` to a mpz struct,
but it was ending up with `ptr = first 8 bytes of said mpz struct`.
This means the 4 byte alloc and 4 byte size fields where mashed together

[2021-03-22 19:08] wbhart opened #398 "coeff used by (correctly) not implemented for spoly"
spoly cannot provide a coeff(f, n) function due to the fact that Singular does not have random access structures for polynomials.

This means the following are implemented incorrectly in Singular (or no longer needed):

canonical_unit(a::spoly{T})  -- src/poly/poly.jl
isnegative(x::spoly) -- src/poly/poly.jl

[2021-03-22 19:19] wbhart commented on #398
In both cases coeff(f, 0) can be replaced with first(coefficients(f)), which will give the leading coefficient, which is presumably what was meant. Alternatively, perhaps leading_coefficient is better once the relevant PR is merged.

[2021-03-23 07:33] fieker commented on #398
There is a chance that in Hecke at some point we (I) added hasLength to the iterator

[2021-03-23 08:15] wbhart commented on #398
I am a bit slow. I finally figured out how this is suddenly a problem now. The coefficients iterator in Hecke was always called coefficients. The one in AbstractAlgebra was called coeffs. Now that the latter has been renamed to coefficients it is overwriting the AbstractAlgebra version.

So the solution is to remove the iterator from Hecke, which is no longer needed, as it does precisely what the

[2021-03-23 08:18] thofma commented on #398
I am already on it.

[2021-03-23 08:18] thofma commented on #398
I will ping you.

[2021-03-23 08:18] wbhart commented on #398
Ah ok. Also note the lead function immediately before it is no longer needed (presumably). I am not sure how I missed this one.

[2021-03-23 08:19] thofma commented on #398
Yeah I saw it. I will remove some stuff and double check with you.

[2021-03-23 08:19] wbhart commented on #398
Oh, I am posting on the wrong issue anyway, sorry.

[2021-03-23 08:28] wbhart commented on #398
Just to clarify, addition of has_length wouldn't make these definitions correct, even if Singular depended on Hecke. Fortunately with the new printing code, these may not be needed any more anyway.

[2021-03-23 11:49] tthsqe12 commented on #395
After looking at julia 1.3, 1.4, 1.5, and 1.6, I am even more confident that this is a 1.3 bug or our code is just bad. All of 1.4, 1.5, and 1.6 put the target of the unsafe load on the stack and pass along the stack address to libsingular. Version 1.3 also passes along a stack address but the forgets to copy the gmp struct to that stack address.
This is all with the code (note that `n_InitMPZ(b,

[2021-03-23 11:57] thofma commented on #395
If we are realling doing `n_InitMPZ(b, cf) = n_InitMPZ_internal(pointer_from_objref(b), cf)`, then this is the culprit. This needs a `GC.@preserve b`, otherwise this is just wrong.

[2021-03-23 12:30] tthsqe12 commented on #395
Ok, what about the next function in src/libsingular? Do we need gc protection on res? I am inclined to say yes (despite it being in the return).
[code]

[2021-03-23 12:43] thofma commented on #395
Yes. This is all dodgy.

[2021-03-23 13:28] rfourquet commented on #395
Yes, `res` being the return value is irrelevant for determining whether `GC.@preserve` is required (although of course the current Julia implementation might be such that the code still does what was intended even without `@preseve`).

[2021-03-23 14:19] #395 closed

[2021-03-23 15:06] thofma opened #400 "`GC.@preserve` missing for `pointer_from_objref`"
For example:
https://github.com/oscar-system/Singular.jl/blob/4e3e35c358b6c3aa3a11cbcd559d49af9fdaed76/src/libsingular/antic/nf_elem.jl#L167-L175
The caller or someone else probably makes sure that whatever `ptr` points to is still alive, but no one is doing this for `b` and `z`. We might want to fix those before we encounter more obscure errors.

[2021-03-23 15:29] fingolfin commented on #395
Thanks for tracking this down!

[2021-03-25 13:53] wbhart opened #403 "lead_exponent -> leading_exponent_vector"
This change would be in line with the recent rename of functions such as leading_monomial, leading_term, leading_coefficient and in line with calling an "exponent" an "exponent_vector" as per AbstractAlgebra.

[2021-04-06 16:44] 8d1h opened #409 "factorization over extension fields"
Hi! I noticed that currently Singular.jl only handles factorization over QQ, ZZ, prime fields and function fields over prime fields. Is there support for factorization over extension fields like `FiniteField(2,2,"a")`? Or maybe an easy way to convert the polynomial and let it handled by Flint? Thanks!

---

A longer story: actually I'm trying to implement a function to solve a system of polynomial

[2021-04-06 18:35] tthsqe12 commented on #409
I will look into this and get back asap. We may or may not have a julia factor function that calls singular's factor function. Do you need it just for univariates?

Yeah, Oscar.jl is probably the place for this. Singular.jl is really just meant to be a wrapper of singular and it's libraries.

[2021-04-06 19:20] 8d1h commented on #409
Thanks! Yes for this application univariates will suffice.

[2021-04-07 06:59] fieker commented on #409
We have in Oscar factoring of univariates over all finite fields, all finite extensinos of Q as well as of multivariates over Q and number fields and absolute factoring (so far)....

[2021-04-07 06:59] #409 closed

[2021-04-07 11:01] 8d1h commented on #409
Yes you are right. I just checked out factoring in Oscar and it works out of the box!

However, the version in Oscar runs 4 or 5 times slower than the Singular.jl version and uses a lot more memory (my code is probably far from optimal yet, but I kept the two versions almost identical).

I have the code here: [Singular.jl version](https://github.com/8d1h/RationalPoints/blob/master/rational_points.

[2021-04-07 16:15] tthsqe12 commented on #409
I am surprised the oscar version is only 4x slower.
Here are some thing you can do to bring it closer in execution to the singular version:

--------------------------------------

[code]
First of all FiniteField(char,1,"a")[1] is a generic finite field constructor for any degree and characteristic. To be equivalent to singular's `Fp(char)`, you could use something like
[code]

-------------------

[2021-04-07 16:20] thofma commented on #409
You can just do
[code]

[2021-04-07 16:59] 8d1h commented on #409
Wow thanks a lot for the detailed comments! Now the Oscar version runs pretty fast too! :)

[2021-04-07 17:15] tthsqe12 commented on #409
@thofma That almost always works, but the code has a bug in it:
[code]

--------------------------------------

as for this
[code]

I was finding this hard to believe, but yes, in fact the singular kernel does not have factoring over the zech log representation implemented (it should though). This is online (real) singular:

[code]

----------------

I just put algebraic extensions into Singular.j

[2021-04-07 18:11] 8d1h commented on #409
Thanks that will be great!

(Actually I didn't know that finite fields can be represented this way in Singular: I was surprised when I found out that all elements are `a^i`, which is why I wrote `get_elements` like that; normally I would just enumerate all the polynomials.)

[2021-04-13 11:36] tthsqe12 commented on #409
@8d1h Here is an update on how this will look hopefully in the next release. If you have any objections, speak now. I think `Fp` is going to have to be deprecated and replaced by `GF`: does everything else look good?
[code]

[2021-04-13 16:55] 8d1h commented on #409
Thanks that looks great!

[2021-04-14 10:36] #382 closed

[2021-04-14 10:37] #187 closed

[2021-04-14 10:56] #400 closed

[2021-04-14 11:14] tthsqe12 commented on #172
There is a more fundamental error here:
[code]

@wbhart @thofma Any objection to me fixing this so that `base_ring(R) == K` returns true. The n_unknown should be an "invisible wrapper" ...

[2021-04-14 11:56] thofma commented on #172
Fine with me.

[2021-04-16 08:33] #397 closed

[2021-04-16 09:50] #172 closed

[2021-04-21 16:38] 8d1h opened #416 "bug in `reduce`"
Hi! The `reduce` function silently produces wrong result when the coefficient ring is non-standard. Here is a minimal example.
[code]
The result is correct if we take the coefficient ring to be `QQ` or `FunctionField(QQ,["a"])[1]`. (In fact I was using `simplify` in Oscar and I got inconsistent results.)

[2021-04-21 16:45] tthsqe12 commented on #416
Wow, that is a fun one: Singular polynomial with coefficients as generic polys over Singular's rationals. :)

[2021-04-21 18:42] 8d1h commented on #416
This doesn't work either.
[code]
I just wanted to introduce some parameters into the coefficients. I switch to `FunctionField` now so everything works fine. Still it would be nice if this could work, or maybe a warning should be given (I thought there were some integer overflows in my code or something...).

[2021-04-21 20:06] tthsqe12 commented on #416
Yup. Something bad is happening here, and it is not yet clear whom to blame. Will investigate fully tomorrow.

[2021-04-22 13:55] tthsqe12 commented on #416
This is a singular issue and will take some time to resolve.

[2021-04-22 15:32] 8d1h commented on #416
What do you mean by singular issue? I think it works in singular.
[code]

[2021-04-22 15:42] tthsqe12 commented on #416
In your example, the `F` started out as the non-field `QQ[a]`. However, after it became the coefficient ring, it became the field `frac(QQ[a])` i.e. `QQ(a)`. The issue is with non-field inside the GB engine. I think the non-field circuits have only really ever been tested on `ZZ`. So, we are using singular in a new and untested way.

[code]

[2021-04-22 21:08] 8d1h commented on #416
Well [this](https://www.singular.uni-kl.de/Manual/4-2-0/sing_28.htm) manual page seems to claim that at least `std` and `reduce` should work in this case...

[2021-04-23 08:38] tthsqe12 commented on #416
Sure, but I think Singular has only been tested with the two non-fields on the list, namely `ZZ` and `ZZ/mZZ`. Ring such as `QQ[a]`, where `1` is a perfectly reasonable answer to `gcd(6, 10)` and where `>` has no meaning, are in untested waters and present problems.

[2021-04-23 11:27] 8d1h commented on #416
Ok I see. Thanks a lot for the explanation!

BTW is there going to be support for block orderings like `(dp(2),dp(3))` in singular.jl?

[2021-04-26 08:49] tthsqe12 commented on #416
I am working on the orderings this week.

[2021-04-26 13:30] 8d1h commented on #416
Awesome! Thank you very much!

[2021-04-28 19:19] 8d1h opened #419 "Bug for rationals"
Hi! I ran into a bug for rational numbers in Singular.jl.

At first I noticed that sometimes the rational number returned is not in reduced form.
[code]
I thought at least the result is correct. But if one uses `numerator` on `x` twice, then funny things will happen.
[code]

[2021-04-29 11:47] tthsqe12 commented on #419
Yup. Can reproduce. This is bad.

[2021-04-29 15:06] tthsqe12 commented on #419
I think I have this under control now. The code in singular.jl is simply not correct, and there will be big changes in the next version.
Thanks for finding and reporting.

[2021-04-30 15:50] 8d1h commented on #419
That's great! Glad I could help.

Also a small bug that probably don't deserve opening another issue for: the following
[code]
leads to a segfault, which I think could be easily avoided.

[2021-05-04 17:35] #403 closed

[2021-05-06 09:36] 8d1h commented on #368
Hi! There is another weird issue related to division by zero: once a such division is performed inside a polynomial ring, `std` will no longer function for *all* rings and always returns 0...
[code]

[2021-05-06 09:40] thofma commented on #368
ping @hannes14

[2021-05-06 09:53] tthsqe12 commented on #368
I think we probably have to clear some gloval error flag here.

[2021-05-06 10:00] hannes14 commented on #368
Yes, the flag errorreported must be reset to 0.
This can be done in the routine which displays the error
- can be a change in libsingular-julia

[2021-05-06 15:32] tthsqe12 commented on #368
I am planning on handling this like this
[code]

[2021-05-10 18:54] jtyard opened #429 "Passing intmats to Singular library functions"
**Describe the bug**

I'm trying to use the multigrading libraries in Singular.jl (from within Oscar 0.5.2 in Julia 1.6.1 on Ubuntu 20.04.2 running in WSL2 under Windows) and can't figure out how to pass intmats to the library functions.  I don't know if this is because I am doing something wrong or whether certain functionality is missing / incomplete.

**To Reproduce**

[code]

gives the followi

[2021-05-11 06:12] fieker commented on #429
Hi Jon,

what are you actually trying to do? Reason for the question: as you're
already using Oscar, multi gradings are available directly there as
well, in fact most of the multigrading.lib is (or should be) natively in
Oscar.

julia> R, (x,y) = PolynomialRing(ZZ, ["x", "y"])
(Multivariate Polynomial Ring in x, y over Integer Ring, fmpz_mpoly[x, y])

julia> A = free_abelian_group(2)
GrpAb: Z^2

j

[2021-05-11 09:08] tthsqe12 commented on #429
Hello Jon.
I assume that this what you tried first (or at least should have tried first)
[code]

The error is our fault as the programmer of the caller interface did not expect library procedures to return nothing: 301 is the code for nothing.

However, seeing that this function returns nothing, how useful can it be?

[2021-05-11 09:31] tthsqe12 commented on #429
This singular library is probably not useful in Singular.jl. I put in a little 301 fix, and this is what I am getting:
[code]

I would just like to make a note here that I think the caller functionality in Singular.jl is supposed to set the basering to `R` and use the rest of the arguments when called like `Singular.LibMultigrading.getVariableWeights(R, ...)`

Also, note that instead of returning

[2021-05-12 13:38] #419 closed

[2021-05-12 14:21] #43 closed

[2021-05-13 02:50] jtyard commented on #429
Hi Claus,

Nice to meet you and thanks for the quick response.  I hadn't realized that multigradings with possible torsion were already in Oscar.  Are the equivalents of e.g. multiDeg, multiDegBasis, multiDegGroebner, and multigraded Hilbert series already in Oscar as well?

[2021-05-14 13:08] fieker commented on #429
On Wed, May 12, 2021 at 07:50:48PM -0700, Jon Yard wrote:

Hi Jon,

the precise answer is, of course, I don't know...

multiDeg -> degree (I think), for homogenous elements it gives the degree
           as an element of the group used to grade

multiDegBasis -> homogenous_component(R, a) for element in the group
            used to grade, get the k-VS of this degree

multiDegGroebner, multiDegSyz

[2021-05-17 16:50] wbhart opened #431 "ringorder_wp not defined"
When I try to run the tests for Singular.jl it complains as follows:

[code]

I am using Julia 1.5, have the latest AbstractAlgebra and Nemo, checked out at master, have Singular checked out at master. All three are dev'd, but up-to-date. I've tried building Singular.jl again, but this didn't change anything.

Is it possible the deps are wrong for libsingular.jll or something like that?

[2021-05-17 16:54] thofma commented on #431
https://github.com/oscar-system/Singular.jl/pull/430

[2021-05-17 16:55] wbhart commented on #431
Ok, thanks. No urgency on my part.

[2021-05-17 19:37] jtyard commented on #429
Thanks.  homogeneous_component(R,a) is not quite working as I would expect.  For instance,

[code]
returns
[code]
when it should really have dimension 2 (x1^2 and x2^2 span the component).  Also, `assert(fl)` is failing when there is nothing of a given degree, e.g. in the simpler case

[code]

[2021-05-19 15:10] fieker commented on #429
On Mon, May 17, 2021 at 12:38:07PM -0700, Jon Yard wrote:

Thanks! While trying to debug this, it finally dawned on me why there is
a problem: as a QQ-Module, due to torsion, this is not fin. generated.
As a module I first need to create the deg-0-subring and then return a
module over that. When this was written, the infrastructure for this was
missing...
Is this s.th. that would be useful? Or wou

[2021-05-21 16:03] wbhart opened #433 "Iterators need to be implemented"
In order for https://github.com/oscar-system/Singular.jl/pull/246 to pass, the following iterators need to be implemented for Singular spolys in src/poly/poly.jl

* coefficients
* monomials
* terms
* exponent_vectors

The defaults in AbstractAlgebra do not/cannot work for Singular polynomials. See AbstractAlgebra/src/generic/MPoly.jl in the section titled "Iterators", approximately line 1227ff. Th

[2021-05-21 16:06] wbhart commented on #433
Oh wait, they already exist. There is a bug in their signature in this PR. I will fix.

[2021-05-21 16:06] #433 closed

[2021-06-09 14:36] #61 closed

[2021-06-30 08:38] 8d1h commented on #419
It seems that there are still occasions where a returned rational number is not reduced...
[code]

[2021-06-30 08:57] tthsqe12 commented on #419
There is not much we can do about this apart from inventing a `reduce!` function and using it on all output from the singular kernel, which I am not keen on. As we now know, the arithmetic in the Singular kernel routinely generates unreduced fractions. You don't see these in the Singular language because they are reduced "when they get assigned somewhere", but we don't have this notion in julia.

[2021-06-30 09:24] 8d1h commented on #419
I see, that's fairly reasonable, thanks for the explanation!

On the other hand, perhaps it's possible to change the `Base.show` function so that the printed out result is reduced? For example I think `spoly` are handled properly this way.
[code]

[2021-06-30 09:39] tthsqe12 commented on #419
Ok. I can have a look at the fraction printing.

[2021-07-04 06:03] thofma commented on #416
Should we be more picky about the rings we allow, e.g., throwing errors when using Gröbner basis functionality in untested waters? The results are obviously unreliable and it is very risky to expose to users. What do you think @tthsqe12?

[2021-07-04 19:23] ederc commented on #416
I support @thofma's suggestion to not allow this kind of computation and throw an error. If we only state a warning and still deliver some possibly unreliable result, most users are not able to decide on their own if the result is valid or not.

[2021-07-04 19:53] wdecker commented on #416
I support @thofma's  suggestion as well.

[2021-07-05 08:14] tthsqe12 commented on #416
This will entail throwing on any non-field ring that isn't Z or Z/nZ until singular's bugs are fixed.

[2021-07-05 09:06] thofma commented on #416
I am not sure how many entry points there are where we would have to check this (excluding library calls). What do you think @tthsqe12?

[2021-07-05 09:35] tthsqe12 commented on #416
I am talking about simply throwing in the poly ring constructor. Simple and effective.

[2021-07-05 11:19] thofma commented on #416
I see. This sounds like the easiest option. This would mean that on the Oscar side, creating ideals over such coefficient rings would throw an error? Fine with me, but would be good to hear if the other agree.

[2021-07-05 11:39] tthsqe12 opened #449 "functions to move from oscar/src/Rings/FunctionField.jl"
(F::Singular.N_FField)(x::gfp_elem)
(F::Singular.N_FField)(x::fmpq)

[2021-07-05 11:49] wdecker commented on #416
Before we do that we should evaluate other options.

[2021-07-06 12:20] thofma commented on #416
@ederc is looking into this.

[2021-07-08 11:30] tthsqe12 opened #452 "The documentation for `lift` is wrong"
The current doc string for `lift` is

[code]

Here are some calculations which clearly contradict the documentation. Am I missing something here @wdecker @hannes14 ?

[code]

[2021-07-08 11:50] tthsqe12 commented on #452
So something definitely is going wrong here: I am not just mixing up the order of arguments.
[code]

[2021-07-08 11:54] fieker commented on #452
Have you tried to look where this is used in the graded modules? There
it gave "correct" results at least once.
On Thu, Jul 08, 2021 at 04:50:53AM -0700, dan wrote:

[2021-07-08 12:33] tthsqe12 commented on #452
I have a suspicion that the doc string for `result, rest = lift(M::smodule, SM::smodule)` should be
`Matrix(SM) = Matrix(M)*matrix(result)) + Matrix(rest)`
with `rest = 0` if and only if `SM` is in `M`.

Now, in oscar, there is another issue. For example, `divides(a::MPolyQuoElem, b::MPolyQuoElem)`, which ignores `rest`, assumes that if `SM` is not in `M` then `result` is `zero`. This seems to be

[2021-07-13 08:34] tthsqe12 opened #456 "(::N_AlgExtField)(::BigInt) is broken"
@hannes14 The problem seems to be that `libpolys/polys/ext_fields/algext.cc` has no entry for `InitMPZ` hence everying goes through `number naInit(long i, const coeffs cf)`.
This not correct: we cannot be truncating `BigInt`'s to `Int`'s.

[code]

[2021-07-13 21:45] 8d1h opened #459 "Broken promotions"
I updated Singular and some promotions are broken
https://github.com/8d1h/IntersectionTheory/runs/3060958843?check_suite_focus=true
[code]

I guess this is due to https://github.com/Nemocas/AbstractAlgebra.jl/pull/927

[2021-07-14 06:20] thofma commented on #459
Thanks forbthe report. I will have a look.

[2021-07-14 10:42] thofma commented on #459
Where do you need this? I am a bit hesitant to add it.

[2021-07-14 12:25] 8d1h commented on #459
It's just for convenience (and it worked before...) I can always add it manually in my package.

Also coercion works already so it makes sense to allow promotion
[code]

[2021-07-14 12:32] thofma commented on #459
Yes, I understand. If we add a promote rule, it will be called automatically. For `fmpq` and `spoly{n_Q}` it is fine, but do you also want `fmpq` and `n_Q`? I am not sure want this, because it is not clear what the type of the result should be.

[2021-07-14 12:37] 8d1h commented on #459
I agree. `fmpq` and `n_Q` should not be allowed. (I just saw the code for `spoly` promotion...)

[2021-07-14 17:07] hannes14 commented on #456
fixed with https://github.com/Singular/Singular/commit/528b7b158ad3a42e4835ade5d339a2fd1a384fda

[2021-07-14 17:09] tthsqe12 commented on #456
Thanks. We will have this in a later version of singular.jl.

[2021-07-14 17:16] tthsqe12 commented on #452
@hannes14 could you add a correct doc string for both the lift functions? For the 5-argument version, it should state what the three boolean parameters mean, and it should state what the three outputs are/do.

https://github.com/oscar-system/Singular.jl/blob/dcecbba1afded4fa27d70479401aeb8decb206e5/src/module/module.jl#L293-L315

[2021-07-14 17:23] #459 closed

[2021-07-15 10:26] hannes14 commented on #452
see https://github.com/oscar-system/Singular.jl/pull/464

[2021-07-15 13:41] thofma opened #465 "Singular is still printing warnings"
[code]

[2021-07-16 13:52] tthsqe12 opened #466 "wishlist for next release"
- [ ] Optimize in libsingular_julia_jll conversion between n_algExt and nf_elem/fq_nmod
- [ ] Identify where singular can crash from n_unknown coefficients and have it raise an error instead of crashing.
- [ ] Discuss the possibility of having the missing functionality of n_unknown added to the coeffs struct via function pointers.
- [ ] New singular_jll including the above change(s)

[2021-07-16 16:00] thofma opened #467 "Coefficient ring not working for fq_nmod/fq"
I was promised an `n_unkown`, but I get an error:
[code]

[2021-07-16 16:10] thofma commented on #466
Here is an example where using `n_unkown` creates a nice segmentation fault without stack trace for the innocent user.
[code]

[2021-07-16 16:14] thofma commented on #466
Note that this is crucial if we want to make Singular useful for Oscar. The situation with the segmentation faults is very off-putting for users.

[2021-07-19 13:24] tthsqe12 commented on #170
Yes, I see. We want the last return to be true.
[code]

[2021-07-21 13:56] #170 closed

[2021-07-21 14:22] tthsqe12 commented on #467
I can remove the line of code that sets the characteristic. @hannes14 Is there something to which I can set the `cf->ch`, which is an `int`, so that Singular doesn't get confused here?

[2021-07-21 14:37] hannes14 commented on #467
Most uses of cf->ch are in the functions for the coefficients.
For all other cases, MAX_INT may be a good work-around.

[2021-07-21 14:57] tthsqe12 commented on #467
What about `-1`?

[2021-07-21 15:11] hannes14 commented on #467
Am Wed, Jul 21, 2021 at 07:57:31AM -0700 schrieb dan:

if cf-type>n_CF (the last in the enum type, n_unknown), this may work.

[2021-07-21 15:34] tthsqe12 commented on #467
ok

[2021-07-21 17:25] tthsqe12 commented on #273
@alexej-jordan @fieker Can we close this again? The singular.jl solution is here https://oscar-system.github.io/Singular.jl/latest/polynomial/#Term-orderings

[2021-07-21 19:00] tthsqe12 commented on #154
@hannes14 Are there any kernel functions using bigintmat that people would want to use?
If they are not used by the kernel and the only use of bigintmat is via the library calls, then I am perfectly happy converting to and from fmpz_mat or Matrix{BigInt} for the library calls.

[2021-07-22 08:23] hannes14 commented on #154
Am Wed, Jul 21, 2021 at 12:00:16PM -0700 schrieb dan:

bigintmat and bigint as result types are used in Singulars kernel for:
- det, bareiss, factorization (in ZZ)
- general operations: +,-,*,div,mod,transpose,CRT, conversions to/from other types

[2021-07-22 13:44] #338 closed

[2021-07-22 13:55] #452 closed

[2021-07-22 14:50] #467 closed

[2021-07-22 19:28] tthsqe12 commented on #170
To be clear: the answer to this issue's title is "yes".

[2021-07-23 12:27] #114 closed

[2021-07-23 13:47] tthsqe12 commented on #466
Here is a much simpler example, also calling a null pointer.
[code]

[2021-08-06 11:12] tthsqe12 commented on #456
We have new singular binaries and it turns out that this still doesn't work.
To start, in libsingular_julia_jll we have (as in `jjSetMinpoly`):
[code]
That is, we are using `n_algExt` and *not* `n_polyExt`. Now 528b7b1 adds the line
[code]
to `n2pInitChar` but not to `naInitChar`?

[2021-08-06 11:25] hannes14 commented on #456
right, fixed with be5cfa7e7056fe594fbdb2d804b8d68f0869dda9

[2021-08-06 14:31] joschmitt opened #486 "Accessing a ring constructed by a function"
I have the following problem:
When using `LibFinvar.reynolds_molien()` in the non-modular, but positive characteristic case, the function cannot return the Molien series, because it lives in a different ring. Instead the function constructs a ring `Finvar::newring`, which the user is supposed to set to access the Molien series. So in Singular you do:
[code]
So with Singular.jl I would do
[code]
Bu

[2021-08-07 12:07] tthsqe12 commented on #486
You would have to rewrite `LibFinvar.reynolds_molien` to support good programming practices. Otherwise, I would have to write a function that walks the interpreter's global symbol table. Neither is fun...

[2021-08-07 12:11] tthsqe12 commented on #486
The simplest now is unfortunately for me option No. 2, but I cannot condone storing a return value in a global variable. Wait for next release!

[2021-08-07 12:16] joschmitt commented on #486
Okay, thanks. Please don't invest too much time in this; in the end we want to implement most of the finvar functionality directly in Oscar anyways, so we will probably not need this function eventually.

[2021-08-09 08:33] tthsqe12 commented on #486
I must get the ball rolling on the next version now. So, if this is ever going into singular.jl, it will be the next next version.
@hannes14 Is there a c function we can call to look up a symbol? possibly `make`?

[2021-08-09 09:14] hannes14 commented on #486
For objects which depend on a ring R (ring) with name n (char*):
idhdl h=R->idroot->get(n,0);
h->Data() is now a (read-only) raw pointer to the object (void*),
h->CopyD() is a copy(void*) which should be casted to the correct type (poly,ideal, ...)

[2021-08-09 09:16] tthsqe12 commented on #486
That is also good to know, but what about getting the ring R? We need to get
`Finvar::newring`.

[2021-08-09 09:52] hannes14 commented on #486
To get a raw pointer R to Finvar::newring:
idhdl lib_h=IDROOT->get("Finvar",0);
if (lib_h==NULL)
  WerrorS("Finvar does not exist");
else
   package lib_p=(package)lib_h->Data();
   ring R=(ring)lib_p->idroot->get("newring",0);
   if (R==NULL)
      WerrorS("newring does not exist in Finvar");
   else
      ....

[2021-08-09 12:09] tthsqe12 commented on #486
@hannes14 thanks. I think i got it semi-working now. @joschmitt Now the hard part is coming up with a name. Please let me know a good name for it and whether you want it exported. In this exact it is `lookup` and it is not exported.

[code]

[2021-08-09 12:15] tthsqe12 commented on #486
PS: anyidea why the newring is `QQ[e]/(e^2+1)[x]` ?

[2021-08-09 12:40] joschmitt commented on #486
It does not need to be exported and you can name it however you like. Maybe something a little bit longer / more precise like `lookup_library_symbol`?
The resulting ring needs to contain some roots of unity. I guess in this case it adds unnecessarily many.

[2021-08-10 15:03] #456 closed

[2021-08-10 15:09] tthsqe12 commented on #392
If you don't see this in the next few weeks, let's assume it was solved around this time
https://github.com/oscar-system/Singular.jl/commit/c526e8a716cb1701c1066d98f5202bb4139c2bde

[2021-08-10 15:10] #431 closed

[2021-08-10 15:13] #131 closed

[2021-08-10 15:19] tthsqe12 commented on #152
I think caller.jl is clean enough now.

[2021-08-10 15:19] #152 closed

[2021-08-11 08:38] tthsqe12 commented on #154
I am closing this as I don't think the full matrix interface is worth doing. Singular.jl should now have the conversions between sbigintmat and fmpz_mat/Matrix{BigInt}, and if you want to do heavy matrix calculations the latter are the way to go.

[2021-08-11 08:38] #154 closed

[2021-08-11 08:42] tthsqe12 commented on #326
Seems to be fixed now. Can't say when though.

[2021-08-11 08:42] #326 closed

[2021-08-11 08:43] #273 closed

[2021-08-11 10:30] #449 closed

[2021-09-06 09:48] thofma opened #491 "`lift_std` gives wrong results"
[code]

The matrix `M` does not work with the generators of `J`. Either `J` should have zero generators or the matrix should be a 0 x 0 matrix.

@tthsqe12 @hannes14

[2021-09-06 09:55] YueRen commented on #491
I think this can be fixed by changing `mpNew(1,0)` to `mpNew(1,1)` in kernel/ideals.cc line 916 onwards:

[code]

[2021-09-06 10:13] tthsqe12 commented on #491
I thought lift_std is supposed to return a vector polynomials (basis) and a matrix (tranform). Why is it returning an ideal?

[2021-09-06 10:50] hannes14 commented on #491
Comes from the question: how many generators has the zero ideal?
Will be fixed in Singular as Yue proposes:
https://github.com/Singular/Singular/commit/a6a6582eb185fcfc0c4eb4da20eeaf50d5ad70e5

[2021-09-06 11:03] fieker commented on #491
On Mon, Sep 06, 2021 at 03:50:50AM -0700, Hans Schoenemann wrote:

not really... if the input is n generators, and the output has 1, then
the matrix needs to be 1 x n
The matrix needs to match the other arguments

[2021-09-06 11:07] hannes14 commented on #491
@fieker: it was changed in that sense, see commit above

[2021-09-10 11:09] wbhart opened #492 "Iterate over ideals"
It would be nice to be able to iterate over the generators of an ideal:

[code]

[2021-09-10 11:58] fieker commented on #492
On Fri, Sep 10, 2021 at 04:10:04AM -0700, wbhart wrote:

This should iterate over all elements of the ideal...
for v in gens(I) ?

[2021-09-10 12:31] wbhart commented on #492
What should that mean? Aren't there infinitely many elements? How would I order them? It doesn't seem like a useful operation.

[2021-09-10 12:36] #492 closed

[2021-09-10 12:36] tthsqe12 commented on #492
I would say for consistency  `for v in I` definitely should iterate over the possibly infinite set of elements.  This is not implemented.

`for v in gens(I)` works.

[2021-09-10 12:43] fieker commented on #492
On Fri, Sep 10, 2021 at 05:31:21AM -0700, wbhart wrote:

just syntactically
 for i in some_mat_obj
has to iterate over all elements in the object. be it finite or
infinite, group or ring or ideal.

Would you support
  for v in VectorSpace()
to give you only a basis if the space is infinite and all elements
otherwise?

Its nt so much "useful", but predictable...

[2021-09-10 12:55] wbhart commented on #492
Yeah you are right. I closed the issue.

[2021-10-12 10:07] fingolfin opened #502 "Test suite errors due to zsolve crashing"
On my MacBook Pro running macOS 10.14.6, running `Pkg.test("Oscar")` leads to crash reporter popping a few times as the external binary `zsolve` crashes.

Specifically, I am seeing this (but the test suite seems to pass anyway):
[code]

Here is one of the crash logs

[code]

I determined that what is crashing is the `zsolve` wrapper generated by Singular.jl (which ultimately was code I wrote).
@be

[2021-10-12 11:48] benlorenz commented on #502
At least on the CI for Oscar.jl I don't see this anymore since the update to Polymake.jl 0.6 / polymake_jll 400.500. But whether this happens might depend on the order in the PATH variable...

All my previous comments regarding this are in the [Oscar issue](https://github.com/oscar-system/Oscar.jl/issues/691). Either we can copy the new wrapper code from polymake_jll to wherever needed (and hope t

[2021-11-05 14:43] wbhart opened #505 "Make ordering symbol names the same as in Oscar.jl"
We have names like :negweightedrevlex in Singular.jl which corresponds to :negwdegrevlex in Oscar.jl. These should be made the same.

A full list of the symbols can be found in my PR:

https://github.com/oscar-system/Oscar.jl/pull/723/files

[2021-11-08 10:51] benlorenz commented on #502
Maybe https://github.com/oscar-system/Polymake.jl/pull/368 is enough to fix this once a new Polymake.jl is tagged, otherwise we need #506 as well.

[2021-11-08 14:28] thofma opened #507 "Singular is being noisy again"
Saw it on CI, see https://github.com/Nemocas/Nemo.jl/runs/4129208599?check_suite_focus=true#step:7:1132:
[code]
Might be related to the recent noncommutative additions?

[2021-11-08 14:50] tthsqe12 commented on #507
Singular has always been noisy. Maybe now it is noisy enough to be audible. Maybe @hannes14 can help up not print errors while still being able to check for them. This is a double edge sword: if singula errors and we dont explicitly chrck for it, the error will go unnoticed.

[2021-11-08 15:37] hannes14 commented on #507
Changing the error reporting of Singular is easy: just point the function pointer WerrorS_callback to a routine of your choice.
Here it shows that a G-algebra was defined which did not meet the requirements:
x_i*x_j < D_ij

[2021-11-09 13:02] #502 closed

[2021-11-09 13:18] fingolfin commented on #507
Note that we do set `WerrorS_callback` to `WerrorS_and_reset` in `siInit`. Problem is that it still prints to stderr:
[code]
We could disable the printing there, but then we risk missing errors as we don't check `libSingular.have_error()` in enough places, I think :/.

In an ideal world, `WerrorS_and_reset` could just throw a Julia exception (that's essentially how the corresponding error handler

[2021-11-09 13:21] fingolfin opened #508 "Odd `QuotientRing` test"
While trying to understand something about `QuotientRing` I came across this test (which according to `git blame` was added by @tthsqe12):
[code]

What I don't understand is the first `@test_throws` because it does `Ideal(R, [x])` but `x` is not even defined in this test. So I am guessing the exception being thrown is not the one we are looking for -- it'll be an `UndefVarError` or perhaps `x` doe

[2021-11-09 13:28] tthsqe12 commented on #508
yup, that is a typo x -> z or u or v or w

[2021-11-09 13:30] fingolfin commented on #508
OK, good. There is another `x`, too, probably the same. This shows that one shouldn't just check for `Exception` but really the concrete exception type, else such things happen

[2021-11-09 13:33] fingolfin commented on #416
The issue persists. Was there any progress here? @ederc ?

[2021-11-09 13:34] tthsqe12 commented on #508
What would you like to understand about QuotientRing? It is just like `qring r = (ideal);` in the singular language. Not sure how to document it: it would be a "QuotientRing constructs the quotient ring" kind of situation.

[2021-11-09 13:34] fingolfin commented on #59
@ThomasBreuer what's the status of this issue? is there still something concrete you are missing? By now, calling Singular library functions should be possible (and we do so in Oscar)

[2021-11-09 13:35] fingolfin commented on #233
@tthsqe12 are you aware of this issue with remarks regarding PLURAL? Now that you implemented access to Plural, it would be good to check these things

[2021-11-09 13:37] tthsqe12 commented on #233
I am well aware of this post and have the issues on my radar.

[2021-11-09 15:12] ThomasBreuer commented on #59
@fingolfin As far as I understand, `minbase` is a Singular kernel function, not a library function.
At the time when I opened this issue (three years ago), the idea was to use the GAP interface to Julia for using Singular functionality from GAP, and this worked via the machinery from GAP's Homalg package(s) but not via Singular.jl. (see the files `GAP.jl/pkg/JuliaExperimental/gap/finvar.g*`).
Inde

[2021-11-09 16:16] fingolfin commented on #59
`minbase` is implemented by the Singular kernel function `idMinBase` which is wrapped in [`libsingular-julia`](https://github.com/oscar-system/libsingular-julia/blob/master/ideals.cpp#L380), and then called in `Singular.jl` by two methods for `minimal_generating_set()` (once for ideals and once for modules).

However, you (well, `finvar.lib` need it with `degBound` set. OK, so it took some time to

[2021-11-09 16:19] fingolfin commented on #281
This still occurs. @hannes14 @tthsqe12 can you please have a look?

[2021-11-09 16:29] fingolfin commented on #429
What's the status of this issue?

[2021-11-09 16:34] tthsqe12 commented on #386
There was something definitely broken in the singular kernel when I wrote this. Will have to try again.

[2021-11-09 16:47] fingolfin commented on #357
I just tried this with `JULIA_VERSION` set to 1.6.3. After setup, I run `using Pkg; Pkg.add("Singular")`. This installed Singular.jl 0.8.0 (and of course a ton of other things). Noticeably, though, precompilation of `libsingular_julia_jll` failed.

So I did `Pkg.add("libsingular_julia_jll"); using libsingular_julia_jll` which resulted in the following by now familiar error:
[code]

The function `m

[2021-11-09 16:52] fingolfin commented on #357
[code]
And ``run(`cat /etc/os-release`)`` gives
[code]
This all looks rather standard and common. Weird.

[2021-11-09 17:00] tthsqe12 commented on #491
The `M` in the issue is now the 1x1 matrix `[0]`.

[2021-11-09 17:00] #491 closed

[2021-11-09 19:49] tthsqe12 commented on #507
I like this solution, which won't need any global flags for configuration: initially the c++ error string in libsingular is empty of course, and the only way to clear it is via libsingular.check_error. When singular wants to report an error, we dump the current error string(s) to stderr if there are any and append the new error string that singular wants to report. This way all of the uncaught err

[2021-11-09 20:55] ederc commented on #416
I don't see any solution for this issue in the near future. I still prefer @tthsqe12's suggestion to throwing in the poly ring constructor. At the moment we are not able to do any effective computation there.

@wdecker @hannes14: Any other thoughts or ideas?

[2021-11-09 21:10] tthsqe12 commented on #416
What if we know/assume the coefficient ring is Euclidean and has an effective divrem implemented?

[2021-11-09 22:48] #508 closed

[2021-11-10 12:46] hannes14 commented on #416
Am Tue, Nov 09, 2021 at 12:55:43PM -0800 schrieb ederc:

reduce for a ring with coefficients in Z (or Z/n) uses redtailBba_Z,
while general ring coeffs. uses redtailBba_Ring (which is untested in Singular).
redtailBba_Z uses n_IntMod, i.e. needs a divrem for the coefficients.
If we have divrem in all cases we shoulkd try to use redtailBba_Z
instead of redtailBba_Ring.

[2021-11-10 14:29] tthsqe12 commented on #465
Ok - the third element of the second argument is zero, so this should silence all extra printing, but
https://github.com/Singular/Singular/blob/spielwiese/Singular/LIB/finvar.lib#L6091
still comes out regardless of the value of `v`. @hannes14 should this warning be printed even when the user asked for no printing, or is this a bug in the algorithm selection?

[2021-11-10 15:05] tthsqe12 commented on #429
I am going to close this by saying that misbehaving library procs are not going to be supported by Singular.jl.

[2021-11-10 15:10] #370 closed

[2021-11-10 16:08] hannes14 commented on #465
No bug in the algorithm selection, but missing tests for the verbosity level.
see https://github.com/Singular/Singular/commit/8ad2935b9f03ca7820942e4018d26497779d34e5

[2021-11-11 11:26] tthsqe12 commented on #59
So the goal here is be able to repoduce the following singular code?
[code]
Indeed, degBound is one of those global system variables, and is named VMAXDEG. The julia version could look like the following?
[code]
I actually don't like giving the user access to these global variables because now everyone has to also keep track of the state of them, which is just a headache. If there aren't too many

[2021-11-11 12:38] thofma opened #514 "New release"
After the recent PRs are merged, we should make a new release.

[2021-11-11 12:44] tthsqe12 commented on #386
@fingolfin You shouldn't be able to repoduce the errors with Singular.jl as-is. because there are work arounds in place.
The bug persists: two steps to reproduce
1. Change https://github.com/oscar-system/Singular.jl/blob/4ee35aff18413b4f2c3c7c956810372a520a48e2/src/number/NumberTypes.jl#L244 to
`          if false && n == 1`

2. include this file multiple times in a row from the repl. It gives an

[2021-11-11 12:49] tthsqe12 commented on #514
bug label? seriously?

[2021-11-11 12:54] thofma commented on #514
Yes, clearly a bug that there is no release yet.

P.S.: Check your chat.

[2021-11-11 13:05] tthsqe12 commented on #245
@hannes14 For the last two points, could you at some point guide us on what functions also work on PLURAL and LETTERPLACE rings? The type names are here https://oscar-system.github.io/Singular.jl/latest/noncommutative/
and for example, in https://github.com/oscar-system/Singular.jl/pull/513 I was fairly certain the "Differential functions" only work on spoly (and not spluralg, and slpalg).

[2021-11-11 13:43] hannes14 commented on #245
functions for spluralg (from src/ideal/ideal.jl, functions with @doc):
-gens,iszero,isconstant,isvar_generated,normalize!,+,*,  (p*I has wrong order),^,contains,
 isequal, equal,lead,intersection,quotient,saturation,slimgb,std,interreduce,reduce,eliminate,
 kernel,syz,lift_std_syz,lift_std,jet,vdim,kbase,highcorner,

functions for slpalg:
-gens,iszero,isconstant,isvar_generated,normalize!,+,*,cont

[2021-11-11 16:29] #505 closed

[2021-11-11 16:29] #429 closed

[2021-11-11 16:31] #368 closed

[2021-11-11 16:43] #507 closed

[2021-11-11 16:46] tthsqe12 commented on #145
duplicate of https://github.com/oscar-system/Singular.jl/issues/317

[2021-11-11 16:46] #145 closed

[2021-11-11 18:14] tthsqe12 commented on #116
Use `Singular.isequal(I1, I2)` for the cheap equality of lists of generators, and use `Singular.equal(I1, I2)` for the expensive actual equality of mathematical ideals.

[2021-11-11 18:14] #116 closed

[2021-11-12 12:20] #312 closed

[2021-11-12 12:29] tthsqe12 commented on #59
What do we want here? I can see three possibilities:
1. give the user unrestricted access to singular's global variables :(
2. provide a `minimal_generating_set(I::sideal, deg_bound::Int)` which sets and resets the global variable internally
3. provide a general `with_deg_bound(d) do f` in a do-block syntax for setting and resetting the global variable automatically in an arbitrary block of code.

[2021-11-12 12:37] hannes14 commented on #59
I prefer 2, as deg_boud needs really "to know what you do".

[2021-11-12 19:52] tthsqe12 opened #518 "crash with letterplace std over foreign cofficient domain"
Will have to track down this segfault: with https://github.com/oscar-system/Singular.jl/pull/517 I get
[code]
Works fine with the native rationals.

[2021-11-15 10:31] hannes14 commented on #518
letterplace std calls n_Delete(NULL,r): fixed with https://github.com/Singular/Singular/commit/dd624b5d39b2f92a950c3b0672ddc0cb24c84992. This is a possible reason for the crash.

[2021-11-16 13:20] #281 closed

[2021-11-16 15:44] #245 closed

[2021-11-16 16:09] tthsqe12 opened #522 "bug in finite fields of degree 1"
1. Change https://github.com/oscar-system/Singular.jl/blob/4ee35aff18413b4f2c3c7c956810372a520a48e2/src/number/NumberTypes.jl#L244 to
`          if false && n == 1`

2. include this file multiple times in a row from the repl. It should eventually give an assertion error:
[code]

[2021-11-16 16:10] tthsqe12 commented on #386
moved to a new issue.

[2021-11-16 16:18] dandanua opened #523 "Parallel computations"
Is it possible to use all cores for computations, for example, Grobner basis computation?
It seems Singular.std uses only 1 core.

[2021-11-16 16:46] tthsqe12 commented on #518
It got a bit further this time:
[code]
Some extra print statements in libSingualr/flint/fmpq.jl:
[code]
gives
[code]

so it looks like a nullptr was passed to this cfCopy.

[2021-11-16 16:57] tthsqe12 commented on #518
Incedentally, I think this nullptr copy is the last problem because if I do
[code]
then it works! :)

However, we cannot do this in general because the pointer is needed to find the base_ring.

[2021-11-17 11:09] dandanua commented on #523
It looks like currently there is no way to parallelize Singular.std

[2021-11-17 11:09] #523 closed

[2021-11-17 13:15] hannes14 commented on #518
Thanks for finding this: indeed n_Copy (and n_Delete) are sometimes called with NULL as first argument - it should be fixed with https://github.com/Singular/Singular/commit/50fbd6cac1472f325b3b8f7bb8c14e9fc53bc270 and https://github.com/Singular/Singular/commit/e852aea149cbe5ffa0a1565bf84f61a2d3307de4

[2021-11-17 13:45] tthsqe12 commented on #518
great, looks good now.

[2021-11-18 14:39] #518 closed

[2021-11-18 14:41] tthsqe12 commented on #465
This printing is no more.

[2021-11-18 14:41] #465 closed

[2021-11-18 14:58] #514 closed

[2021-11-19 13:31] tthsqe12 opened #526 "caller.jl should be documented and fixed"
There is currently no way to to call a Singular library procedure that take 0 arguments in the Singular langugage *and* takes the hidden argument `basering`. This problem should be fixed, and it should be documented how Singular.jl determines the `basering` in such library calls.

[2021-11-25 15:46] tthsqe12 commented on #59
I am doing the third option in #527, which can be used to easily implement stuff like the second option without making changes to libsingular-julia.

[2021-12-17 13:15] hannes14 opened #529 "minimal_generating_set for homogeneous ideals"
minimal_generating_set should be extended to
homogeneous/weighted homogeneous ideals
(also: need a test for that)

[2021-12-22 17:23] thofma opened #534 "oscar.yml needs to be updated"
Just copy https://github.com/oscar-system/OscarDevTools.jl/blob/master/.github/workflows/oscar.yml

[2022-01-07 14:54] #534 closed

[2022-01-10 16:01] finmod opened #538 "Test Singular fails"
Trying to run Pkg> test StructuralIdentifiability, the test fails and points to an error to cprecompile libsingular. Additional test of Singular:

Pkg> add Singular#master and it gives this. Obviously there are several compat problems. with GroebnerBasis which, I read, is now deprecated and replaced by Oscar.jl.

Julia v1.7.1 on Windows 11.

           _
_ _ ()_ | Documentation: https://docs.julia

[2022-01-17 23:17] fingolfin opened #540 "Update to Singular 4.3.0 and release?"
A few days ago @hannes14 released Singular 4.3.0. So I guess we should
- [ ] update `Singular_jll` to that release
- [ ] possibly rebuild `libsingular_julia_jll` ?
- [ ] update Singular.jl to use those
- [ ] make a Singular.jll release

CC @tthsqe12

[2022-01-18 10:49] tthsqe12 commented on #540
Sure, before release I would like to add one more breaking change by fixing #526

[2022-01-27 17:04] tthsqe12 opened #543 "wrap more of Singular's global variables."
Besides the booleans [here](https://www.singular.uni-kl.de/Manual/4-0-3/sing_364.htm), we have
 - [x] degBound     (in progress)
 - [x] multBound    (in progress)

[2022-01-28 19:58] YueRen opened #544 "leading_exponent_vector segfaults when given zero polynomial"
`leading_coefficient`, `leading_monomial`, `leading_term` work fine, but `leading_exponent_vector` crashes. Not sure what the correct output should be (or whether there is a correct output in the first place), but for now it would be better if the code gives an error instead of crashing:

[code]

[2022-01-28 20:09] tthsqe12 commented on #544
@wbhart any idea why `leading_exponent_vector` is in Singular.jl but not part of the MPoly interface?

[2022-01-28 20:14] tthsqe12 commented on #544
@YueRen would you like this to give an error?

[2022-01-28 20:43] wbhart commented on #544
Probably because leading anything applies more to Singular than to general stuff. But otherwise, no idea.

[2022-01-28 20:53] YueRen commented on #544
I think giving an error is a fine choice for now. If a general consensus what the leading_exponent_vector of 0 is ever forms (which I doubt), we can always change it afterwards.

And I think leading_exponent_vector is in Singular because it depends strongly on Singular orderings.

[2022-01-28 20:59] wbhart commented on #544
I think we had a bunch of functions lt, lm, lc which we added because that's what people wanted in Singular.jl. Then they all got renamed and maybe we added this one then?

[2022-01-28 22:03] wdecker commented on #544
Two remarks:

1) Why speaking of leading_exponent_vector rather than leading_exponent (or to what else does leading_exponent_vector refer)?
2) In my eyes, the zero polynomial has leading_coefficient and leading_term zero by convention, but the leading_monomial and leading_exponent are not defined (and one should throw an error). However, there might be some reason to be consistent with Singular, @

[2022-01-28 22:26] wbhart commented on #544
leading_exponent_vector was just for consistency with exponent_vector

I'm happy for it to be changed.

[2022-01-28 22:33] wdecker commented on #544
@wbhart Thanks for the explanation! Let me first try to see the whole picture before we start changing things.

[2022-01-28 22:45] wbhart commented on #544
For further context, I think exponent was for just one exponent, e.g. the exponent of x, whereas exponent_vector was for the entire vector of exponents. So I think there actually is some consistency there.

[2022-01-29 14:19] #526 closed

[2022-01-30 17:06] YueRen opened #548 "Allow coefficient rings in satstd"
Currently, `satstd` only allows input over fields, I would also like to call it for computations over `n_Z` like currently possible in Singular:

[code]

 I believe the problem should fixable by adjusting the input types in the julia definition of `satstd`.

[2022-01-31 14:26] #548 closed

[2022-01-31 15:19] wdecker commented on #529
What precisely is minimal_generating_set meant to do in the non-homogeneous case?

[2022-01-31 15:48] hannes14 commented on #529
returns a minimal set of generators of an ideal, resp. module, if the input is either homogeneous or if the ordering is local.
from the singular manual:
ring r=181,(x,y,z),(c,ls);
ideal id2=x2+xyz,y2-z3y,z3+y5xz;
ideal id4=maxideal(3)+id2;
minbase(id4);
==> _[1]=x2
==> _[2]=xyz+x2
==> _[3]=xz2
==> _[4]=y2
==> _[5]=yz2
==> _[6]=z3

[2022-01-31 15:52] wdecker commented on #529
Thx @hannes14  So the task here ist to extend something from the local to the graded case?

[2022-01-31 15:58] hannes14 commented on #529
Singular.jl has minimal_generating_set for the local case,
it should be extended to the homogeneous ideals

[2022-01-31 16:00] wdecker commented on #529
O.k. , then the question is should that be as general as possible, that is, should this apply to all (multi)gradings for which we have Nakayama's lemma?

[2022-01-31 16:20] wdecker commented on #529
@tthsqe12 I sent you an email ansering your questions

[2022-02-01 10:56] thofma commented on #544
Fixed by #545

[2022-02-01 10:56] #544 closed

[2022-02-01 10:57] thofma commented on #543
Fixed by #527

[2022-02-01 10:57] #543 closed

[2022-02-01 10:57] #538 closed

[2022-02-01 12:07] tthsqe12 opened #551 "tests are noisy again"
we now have
[code]

It is caused by this call to integralBasis:
https://github.com/Singular/Singular/blob/spielwiese/Singular/LIB/hess.lib#L781

This is not a showstopper, but it would be nice to not have this output in future versions @hannes14

[2022-02-01 14:23] hannes14 commented on #551
fixed with https://github.com/Singular/Singular/commit/d2c1f80fb8e51fdcf913e9d5bc8995026964c130

[2022-02-02 08:03] fingolfin commented on #540
Is everything in place now? Can we release?

[2022-02-02 08:59] thofma commented on #540
I tjink we should wait for the breaking Nemo releaese. Or we release with Nemo version + 1.

[2022-02-02 19:29] thofma commented on #540
AA + Nemo releases will be done by the end of the day or tomorrow morning.

[2022-02-06 11:27] YueRen opened #556 "Allow (::Singular.N_FField)(::fmpq_poly) ?"
Not sure whether this should be allowed, but when casting a Oscar polynomial to a Singular polynomial over the rationals, Singular does not care whether the Oscar polynomial was defined over `QQ` or `ZZ`:

[code]

In contrast, when casting a Oscar polynomial to a Singular polynomial over the rational function field, Singular complains if the Oscar polynomial was defined over a univariate polynomia

[2022-02-06 11:33] fingolfin commented on #556
Most likely this is simply an oversight. PR welcome:-)

[2022-02-06 11:43] thofma commented on #556
We will take of it when overhauling the`singular_ring`, see also https://github.com/oscar-system/Oscar.jl/issues/975 and https://github.com/oscar-system/Oscar.jl/issues/976. It is a broken design, so I would not spend too much time on it.

[2022-02-11 17:04] thofma commented on #416
Does the following segfault provided by @YueRen the same underlying problem?
[code]

[2022-02-13 12:12] YueRen commented on #416
The crash above only occurs for the ordering `Singular.ordering_a([-1, 2, 0, 2, 0])*Singular.ordering_dp()`. The code runs with with the ordering `Singular.ordering_dp()`.

[2022-02-15 15:13] HechtiDerLachs opened #557 "iszero fails for certain rings"
Try running the following code in Oscar:
[code]
It returns `false`. Interestingly, the following works:
[code]
Why is this different?

Follow up curiosity: For which one of the two implementations can I expect working Groebner-basis functionality?

[2022-02-15 23:28] thofma commented on #557
I have moved the issue to Singular.jl, as the problem seems to originate here.

[2022-02-16 14:39] thofma opened #558 "Singular is noisy again"
Now I get some funny Singular output in the modular case:
[code]
(repeats ~800 times)

_Originally posted by @joschmitt in https://github.com/oscar-system/Oscar.jl/pull/1078#discussion_r808054232_

[2022-02-16 15:08] thofma commented on #558
Thanks!

[2022-02-24 08:58] fingolfin opened #559 "Update JLL for Julia 1.9"
The JLL needs to be rebuilt to support Julia nightly which is no at version 1.9. I already updated libjulia_jll and libcxxwrap_julia.

Perhaps we can also show a better error message what's going on (see https://github.com/oscar-system/GAP.jl/issues/789 for details on that)

[2022-02-28 17:12] fingolfin commented on #559
resolved

[2022-03-04 11:53] tthsqe12 commented on #557
Many bad things could be happening here. Let's start with this one.
[code]

@hannes14 do you see anything wrong in the relevant singular.jl code?
https://github.com/oscar-system/Singular.jl/blob/9d8d2fb5aa366c6c61baf78a913da9c554275241/src/poly/poly.jl#L642-L650

[2022-03-11 15:03] #559 closed

[2022-03-24 14:20] #558 closed, assigned to nobody

[2022-03-24 14:22] tthsqe12 opened #569 "move homogeneous check from oscar.jl to singular.jl"
once libsingular_julia.jll is updated.

[2022-04-20 21:15] rkinser81 opened #572 "Singular.iszerodim gives incorrect answer when input is not Grobner basis"
**Describe the bug**
iszerodim(I) returns "false" if I is not given in a Grobner basis, even when R/I has Krull dimension 0

**To Reproduce**
R, (x, y) = PolynomialRing(QQ, ["x", "y"]; ordering= :lex)
I=Ideal(R, x+y,x^2)
iszerodim(I)

**Expected behavior**
The ring R/I is isomorphic to QQ[x]/(x^2) so has Krull dimension zero, but the function returns false.

**Information about your setup:**
Julia

[2022-05-14 13:05] #572 closed

[2022-06-07 11:17] tthsqe12 opened #581 "`lift` returns wrong answers sometimes"
With https://github.com/oscar-system/Singular.jl/pull/580, the documentation claims that the last two results should be equal. With `ordering = ordering_dp(2)` this is indeed the case, but not with this ordering. @hannes14
[code]

[2022-06-08 10:53] tthsqe12 commented on #581
Ok. So, how can we correctly document the behaviour of the two argument function lift(::sideal, ::sideal)?

[2022-06-08 13:19] hannes14 commented on #581
proposal:
@doc Markdown.doc"""
    lift(M::smodule, SM::smodule)

represents the generators of SM in terms of the generators of M.
Returns result, rest
If SM is in M, rest is the null module
otherwise: rest = SM
For global orderings: Matrix(SM)-Matrix(rest) = Matrix(M)*Matrix(result)
For non-global orderings: (Matrix(SM)-Matrix(rest) )*U= Matrix(M)*Matrix(result)
where U is some diagonal matrix of

[2022-06-08 14:38] tthsqe12 commented on #581
The existing documentation lift on modules has
[code]
So, whether the U is inside the parentheses or not needs clarification.

[2022-06-09 07:25] hannes14 commented on #581
Matrix(SM)*U - Matrix(rest) = Matrix(M)*Matrix(result) is the correct version,
additional: rest = reduce( SM, std( M))

[2022-06-09 14:59] tthsqe12 commented on #581
alright, I will add this to the docs.

[2022-06-09 14:59] #581 closed

[2022-07-08 07:38] HechtiDerLachs opened #585 "Call to arnoldClassify fails"
Disclaimer: I already posted this on slack and in various email communications, but was asked to make it an issue, instead.

The problem is the following:
[code]

This throws the following error:
[code]

It seems that on the singular side, they wrapped the output in a fancy type that can not be digested. See also [this](https://www.singular.uni-kl.de/Manual/4-3-0/sing_1862.htm#SEC1943) documentati

[2022-07-08 09:57] tthsqe12 commented on #585
The return is a `newstruct`, which generates several problems even from within the singular language itself. Admittedly, in this case the members of the `newstruct` are all just plain strings, but, in general, `newstruct`s do not contain enough information for Singular.jl to translate them into valid julia objects.

[2022-07-08 10:03] HechtiDerLachs commented on #585
Ok, thanks for looking into this. As far as I understand, there is no quick solution to this at this point? Also, given @afkafkafk13's last mail, we might be able to get similar results through other libraries. So I will try that for the moment.

[2022-07-31 11:17] YueRen commented on #416
I think I re-encountered the bug in the following example:

[code]

In the code above, the final array contains elements of the form `g - reduce(g|I)`, which should be contained in `I`. However, the second element is not, some of the signs are wrong.

[2022-07-31 11:34] tthsqe12 commented on #416
It seems that all the examples here are over a euclidean base ring. Given that Singular does GB over ZZ perfectly fine, how hard would it be to make sure arbitrary euclidean rings work?

[2022-07-31 18:05] YueRen commented on #416
From a GB computation pov, there should be no systematic difference between ZZ and an arbitrary euclidean ring.

[2022-08-01 07:04] fieker commented on #416
On Sun, Jul 31, 2022 at 04:34:55AM -0700, dan wrote:

Arbitrarily?